# Transform county data on professions into county data on skill levels

1. Load data and set it up
2. Prepare dictionary and helper function
3. Transform data and save it

# 1. Load Data

In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
#libraries
import re
import pandas as pd
import numpy as np
from scipy.stats import chisquare
import seaborn as sns
import matplotlib.pyplot as plt

**Set up File Paths**
1. Loading
2. Saving

**Loading**

In [3]:
# Set up paths (load files from Classification folder)
classification_path = r"C:\Users\soere\OneDrive\Desktop\Python MA\0.1 Classification Data"
#path_occupation_detailed_df = r"C:\Users\soere\OneDrive\Desktop\Matserarbeit\Python\Variablen\Classification"

# Set up path to control variables 
path_control_df = r"C:\Users\soere\OneDrive\Desktop\Python MA\0. Pretransformed Data"

# Set up path to ifo (iPEHD) files
ifo_path = r"C:\Users\soere\OneDrive\Desktop\Python MA\0.3 ifo Data"

# Load data
occupation_detailed_df = pd.read_stata(f"{classification_path}\occupation_detailed.dta")
control_df = pd.read_stata(f"{path_control_df}\control.dta")

**Saving**

In [4]:
saving_path = r"C:\Users\soere\OneDrive\Desktop\Python MA\2.2 Saving the Dependent Variables"

#### Quick Transformation and Merger

In [5]:
# Make a new column where we add up male and female
occupation_detailed_df.loc[:, "d_Hauptberuf"] = occupation_detailed_df["d_Hauptberuf_m"] + occupation_detailed_df["d_Hauptberuf_w"]

In [6]:
# Since we only have data on the Regierungsbezirk level we need to find the id

# Merge the DataFrames on the 'id_inequality' column
occupation_detailed_df = pd.merge(occupation_detailed_df, control_df[["id_inequality", "rb_id"]], on="id_inequality", how="left")

# Give new columns for skills
occupation_detailed_df["high"] = ""
occupation_detailed_df["medium"] = ""
occupation_detailed_df["low"] = ""
occupation_detailed_df["unskilled"] = ""
occupation_detailed_df["intermediate"] = 0

# Show the first few rows of the merged DataFrame to confirm the inclusion of 'rb_id'
occupation_detailed_df.head(-5)

,id_inequality,i_Grossbuchstabe,i_Ziffer,d_Hauptberuf_m,d_Hauptberuf_w,d_Hauptberuf,rb_id,high,medium,low,unskilled,intermediate
0,1.0,A,1,6541.0,5786.0,12327.0,17.0,,,,,0
1,1.0,A,2,38.0,10.0,48.0,17.0,,,,,0
2,1.0,A,4,69.0,100.0,169.0,17.0,,,,,0
3,1.0,A,5,397.0,110.0,507.0,17.0,,,,,0
4,1.0,A,6,187.0,36.0,223.0,17.0,,,,,0
...,...,...,...,...,...,...,...,...,...,...,...,...
80879,702.0,E,1,4.0,0.0,4.0,31.0,,,,,0
80880,702.0,E,2,41.0,3.0,44.0,31.0,,,,,0
80881,702.0,E,3,34.0,0.0,34.0,31.0,,,,,0
80882,702.0,E,4,40.0,8.0,48.0,31.0,,,,,0
80883,702.0,E,5,6.0,16.0,22.0,31.0,,,,,0

In [7]:
control_df

,id_inequality,rb_id,rb_name,province_id,s_industry,s_prot,s_german,longitud,latitud,slope_km,soil_suitability,mean_temp,mean_preci,dist_100km,log_distance_carbon_c
0,1.0,17.0,Koenigsberg,1.0,18.515817,93.379268,54.543988,21.261999,55.648117,0.039,3.466667,7.255,64.419,0.330,4.272285
1,2.0,17.0,Koenigsberg,1.0,20.088563,96.752059,100.585163,20.249264,54.843463,0.041,3.272727,7.703,63.562,0.101,5.116106
2,4.0,17.0,Koenigsberg,1.0,35.498406,91.659959,76.561623,20.503550,54.706534,0.041,2.000000,7.983,66.168,0.040,5.181000
3,5.0,17.0,Koenigsberg,1.0,15.060419,97.782661,137.406224,20.646094,54.737281,0.039,2.052632,7.516,65.371,0.009,5.153863
4,6.0,17.0,Koenigsberg,1.0,12.007056,98.668155,89.333490,21.267903,54.855057,0.038,2.050000,7.287,61.743,0.119,5.070227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,698.0,1.0,Aachen,12.0,15.278715,1.613553,64.254487,6.167253,50.364714,0.143,2.785714,7.611,93.091,0.724,3.452736
571,699.0,31.0,Sigmaringen,12.0,19.492555,5.190840,93.931298,9.235305,48.006617,0.165,1.375000,7.392,73.282,0.250,4.136785
572,700.0,31.0,Sigmaringen,12.0,23.974037,2.518404,99.023634,9.198332,48.235600,0.186,1.000000,6.673,78.484,0.419,4.088633
573,701.0,31.0,Sigmaringen,12.0,30.325834,6.910838,88.408480,9.001089,48.317343,0.182,1.000000,7.312,74.583,0.376,3.776254
574,702.0,31.0,Sigmaringen,12.0,14.045974,3.843879,96.916448,8.732342,48.378794,0.143,2.500000,8.156,72.044,0.464,3.160472

In [8]:
rb_2_pro = control_df.groupby("province_id")["rb_id"].apply(lambda x: list(set(x))).reset_index()
rb_2_pro

    province_id                                rb_id
0           1.0                         [17.0, 11.0]
1           2.0                          [22.0, 7.0]
2           3.0                    [10.0, 4.0, 29.0]
3           4.0                   [33.0, 18.0, 34.0]
4           5.0                          [28.0, 6.0]
5           6.0                    [26.0, 19.0, 5.0]
6           7.0                    [9.0, 21.0, 23.0]
7           8.0                               [30.0]
8           9.0  [32.0, 3.0, 12.0, 13.0, 20.0, 27.0]
9          10.0                    [24.0, 25.0, 2.0]
10         11.0                         [36.0, 14.0]
11         12.0   [1.0, 35.0, 8.0, 15.0, 16.0, 31.0]

["Allenstein", "Neidenburg", "Ortelsburg", "Osterode Ostpreussen", "Roessel", 
              "Sensburg", "Johannisburg", "Loetzen", "Lyck"]

In [9]:
# Give counties of newly (in 1907) formed Allenstein its own rb_id and rb_name

counties_Allenstein = [15, 16, 19, 20, 21, 40, 41, 42, 43]
occupation_detailed_df.loc[occupation_detailed_df["id_inequality"].isin(counties_Allenstein) , "rb_id"] = 37

In [10]:
occupation_detailed_df.dtypes, control_df.dtypes

(id_inequality       float64
 i_Grossbuchstabe     object
 i_Ziffer              int16
 d_Hauptberuf_m      float64
 d_Hauptberuf_w      float64
 d_Hauptberuf        float64
 rb_id               float64
 high                 object
 medium               object
 low                  object
 unskilled            object
 intermediate          int64
 dtype: object,
 id_inequality            float64
 rb_id                    float64
 rb_name                   object
 province_id              float64
 s_industry               float64
 s_prot                   float64
 s_german                 float64
 longitud                 float64
 latitud                  float64
 slope_km                 float64
 soil_suitability         float64
 mean_temp                float64
 mean_preci               float64
 dist_100km               float64
 log_distance_carbon_c    float64
 dtype: object)

# Prepare dictionary

In [11]:
# Read the HISCLASS.do file and extract lines
with open(f"{classification_path}\HISCLASS.do") as file:
    lines = file.readlines()

# Make a dictionary
# Regular expression to capture HISCO code and its class
pattern = r"\((\d{5})=(\d+)\)"

# Extract all the mappings from the lines
mappings = {}
for line in lines:
    matches = re.findall(pattern, line)
    for hisco_code, hisco_class in matches:
        mappings[hisco_code] = int(hisco_class)

# Convert all values in the mappings dictionary to strings
mappings = {key: str(value) for key, value in mappings.items()}

mappings

{'99997': '1',
 '99998': '1',
 '01110': '2',
 '01120': '2',
 '01130': '2',
 '01140': '2',
 '01150': '2',
 '01190': '2',
 '01210': '2',
 '01220': '2',
 '01230': '2',
 '01240': '2',
 '01250': '2',
 '01260': '2',
 '01270': '2',
 '01280': '2',
 '01290': '2',
 '01320': '2',
 '01330': '2',
 '01340': '2',
 '01350': '2',
 '01390': '2',
 '01400': '4',
 '01420': '4',
 '01430': '4',
 '01490': '4',
 '02000': '2',
 '02120': '2',
 '02130': '2',
 '02140': '2',
 '02210': '2',
 '02220': '2',
 '02230': '2',
 '02235': '2',
 '02240': '2',
 '02245': '2',
 '02250': '2',
 '02255': '2',
 '02260': '4',
 '02290': '2',
 '02305': '2',
 '02310': '2',
 '02320': '2',
 '02330': '2',
 '02340': '2',
 '02390': '2',
 '02410': '2',
 '02420': '2',
 '02430': '2',
 '02440': '2',
 '02450': '2',
 '02460': '2',
 '02470': '2',
 '02480': '2',
 '02485': '2',
 '02490': '2',
 '02510': '2',
 '02520': '2',
 '02590': '2',
 '02620': '2',
 '02630': '2',
 '02690': '2',
 '02710': '2',
 '02720': '2',
 '02730': '2',
 '02740': '2',
 '02790': '2',
 '02810': '2',
 '02820': '2',
 '02830': '2',
 '02890': '2',
 '02920': '2',
 '02930': '2',
 '02940': '2',
 '02950': '2',
 '02990': '2',
 '03010': '4',
 '03020': '4',
 '03030': '4',
 '03040': '4',
 '03050': '2',
 '03090': '4',
 '03110': '4',
 '03120': '4',
 '03130': '4',
 '03140': '4',
 '03150': '4',
 '03160': '4',
 '03170': '4',
 '03180': '4',
 '03190': '4',
 '03200': '4',
 '03310': '4',
 '03320': '4',
 '03330': '4',
 '03340': '4',
 '03390': '4',
 '03405': '4',
 '03410': '4',
 '03420': '4',
 '03430': '4',
 '03490': '4',
 '03510': '4',
 '03520': '4',
 '03530': '4',
 '03540': '4',
 '03550': '4',
 '03590': '4',
 '03610': '4',
 '03620': '4',
 '03690': '4',
 '03700': '4',
 '03720': '4',
 '03730': '4',
 '03790': '4',
 '03810': '4',
 '03820': '4',
 '03890': '4',
 '03920': '4',
 '03930': '4',
 '03990': '4',
 '04120': '2',
 '04125': '2',
 '04130': '2',
 '04140': '2',
 '04150': '2',
 '04160': '2',
 '04200': '3',
 '04215': '3',
 '04217': '3',
 '04220': '3',
 '04230': '3',
 '04240': '4',
 '04250': '3',
 '04290': '3',
 '04315': '1',
 '04320': '2',
 '04330': '2',
 '05110': '2',
 '05120': '2',
 '05130': '2',
 '05190': '2',
 '05220': '2',
 '05230': '2',
 '05240': '2',
 '05250': '2',
 '05260': '2',
 '05265': '2',
 '05270': '2',
 '05280': '2',
 '05290': '2',
 '05320': '2',
 '05330': '2',
 '05340': '2',
 '05350': '2',
 '05360': '4',
 '05390': '2',
 '05400': '4',
 '05420': '4',
 '05430': '4',
 '05490': '4',
 '06100': '2',
 '06105': '2',
 '06110': '2',
 '06120': '2',
 '06130': '2',
 '06140': '2',
 '06190': '2',
 '06210': '4',
 '06310': '2',
 '06320': '2',
 '06330': '2',
 '06420': '4',
 '06430': '4',
 '06440': '4',
 '06510': '2',
 '06520': '2',
 '06590': '2',
 '06610': '4',
 '06710': '2',
 '06810': '4',
 '06910': '4',
 '06920': '2',
 '06990': '2',
 '07110': '4',
 '07120': '4',
 '07130': '4',
 '07140': '4',
 '07190': '4',
 '07210': '9',
 '07310': '4',
 '07410': '9',
 '07520': '2',
 '07530': '4',
 '07620': '4',
 '07630': '4',
 '07640': '9',
 '07710': '4',
 '07920': '4',
 '07930': '4',
 '07940': '4',
 '07950': '4',
 '07990': '4',
 '08110': '2',
 '08120': '2',
 '08130': '2',
 '08220': '2',
 '08230': '2',
 '08240': '2',
 '08250': '2',
 '08310': '2',
 '08420': '2',
 '08490': '2',
 '09010': '2',
 '09020': '2',
 '09030': '2',
 '11010': '2',
 '11020': '2',
 '11090': '2',
 '12000': '2',
 '12110': '2',
 '12210': '2',
 '12310': '2',
 '12410': '2',
 '12910': '2',
 '13000': '2',
 '13020': '2',
 '13030': '2',
 '13100': '2',
 '13120': '2',
 '13125': '2',
 '13130': '2',
 '13140': '2',
 '13145': '2',
 '13150': '2',
 '13155': '2',
 '13160': '2',
 '13165': '2',
 '13170': '2',
 '13175': '2',
 '13180': '2',
 '13190': '2',
 '13200': '2',
 '13215': '2',
 '13220': '2',
 '13230': '2',
 '13240': '2',
 '13250': '2',
 '13260': '2',
 '13270': '2',
 '13275': '2',
 '13280': '2',
 '13290': '2',
 '13320': '4',
 '13390': '4',
 '13420': '4',
 '13490': '5',
 '13520': '4',
 '13530': '4',
 '13540': '4',
 '13590': '4',
 '13920': '2',
 '13930': '2',
 '13940': '1',
 '13950': '2',
 '13960': '2',
 '13990': '2',
 '14120': '2',
 '14130': '4',
 '14140': '4',
 '14190': '2',
 '14920': '5',
 '14990': '2',
 '15120': '2',
 '15130': '2',
 '15900': '2',
 '15915': '2',
 '15920': '2',
 '15925': '4',
 '15930': '2',
 '15935': '2',
 '15940': '2',
 '15945': '2',
 '15950': '2',
 '15955': '2',
 '15960': '2',
 '15965': '2',
 '15990': '2',
 '16000': '4',
 '16100': '4',
 '16120': '4',
 '16130': '4',
 '16140': '4',
 '16150': '4',
 '16160': '4',
 '16190': '4',
 '16200': '4',
 '16220': '4',
 '16230': '2',
 '16240': '4',
 '16250': '4',
 '16290': '4',
 '16310': '4',
 '16320': '4',
 '16330': '4',
 '16340': '4',
 '16350': '4',
 '16360': '4',
 '16370': '4',
 '16390': '4',
 '17000': '4',
 '17120': '2',
 '17130': '2',
 '17135': '3',
 '17140': '4',
 '17145': '4',
 '17150': '4',
 '17190': '2',
 '17220': '2',
 '17230': '4',
 '17320': '4',
 '17330': '1',
 '17340': '3',
 '17350': '4',
 '17390': '4',
 '17420': '4',
 '17430': '4',
 '17440': '2',
 '17490': '4',
 '17520': '4',
 '17530': '4',
 '17540': '7',
 '17550': '7',
 '17590': '7',
 '17920': '5',
 '17930': '5',
 '17940': '5',
 '17990': '4',
 '18020': '9',
 '18030': '4',
 '18040': '4',
 '18050': '4',
 '18090': '5',
 '19120': '4',
 '19130': '4',
 '19140': '2',
 '19190': '4',
 '19220': '2',
 '19230': '2',
 '19240': '2',
 '19250': '2',
 '19260': '2',
 '19270': '2',
 '19290': '2',
 '19310': '4',
 '19320': '4',
 '19330': '4',
 '19340': '4',
 '19350': '4',
 '19390': '4',
 '19420': '4',
 '19430': '2',
 '19440': '2',
 '19490': '4',
 '19520': '2',
 '19530': '4',
 '19540': '2',
 '19920': '4',
 '19930': '4',
 '19940': '3',
 '19950': '2',
 '19960': '5',
 '19990': '4',
 '20110': '1',
 '20210': '1',
 '21000': '3',
 '21110': '1',
 '21200': '3',
 '21220': '3',
 '21230': '3',
 '21240': '3',
 '21300': '3',
 '21320': '1',
 '21330': '3',
 '21340': '3',
 '21420': '1',
 '21430': '3',
 '21440': '3',
 '21490': '3',
 '21920': '1',
 '21940': '1',
 '21950': '1',
 '21960': '1',
 '21970': '1',
 '21980': '1',
 '21990': '1',
 '22000': '3',
 '22110': '3',
 '22190': '3',
 '22210': '3',
 '22220': '3',
 '22230': '3',
 '22235': '4',
 '22240': '4',
 '22245': '4',
 '22250': '3',
 '22255': '3',
 '22260': '3',
 '22265': '4',
 '22270': '4',
 '22275': '3',
 '22280': '3',
 '22290': '3',
 '22320': '3',
 '22330': '3',
 '22390': '3',
 '22420': '6',
 '22425': '6',
 '22430': '6',
 '22440': '6',
 '22450': '6',
 '22460': '6',
 '22490': '6',
 '22520': '3',
 '22610': '3',
 '22620': '6',
 '22630': '6',
 '22640': '6',
 '22650': '6',
 '22655': '6',
 '22660': '6',
 '22665': '6',
 '22670': '6',
 '22675': '6',
 '22680': '6',
 '22690': '6',
 '30000': '5',
 '31000': '5',
 '31020': '4',
 '31030': '2',
 '31040': '4',
 '31090': '4',
 '32110': '5',
 '32120': '5',
 '32130': '5',
 '32140': '5',
 '32150': '5',
 '32190': '5',
 '32220': '5',
 '32290': '5',
 '33110': '4',
 '33120': '4',
 '33130': '5',
 '33135': '5',
 '33140': '5',
 '33150': '5',
 '33160': '5',
 '33170': '4',
 '33190': '5',
 '33920': '5',
 '33930': '5',
 '33940': '5',
 '33990': '5',
 '34120': '5',
 '34130': '5',
 '34220': '5',
 '34230': '5',
 '34290': '5',
 '36000': '9',
 '36020': '9',
 '36030': '9',
 '36040': '9',
 '36090': '9',
 '37000': '9',
 '37010': '4',
 '37020': '9',
 '37030': '9',
 '37040': '9',
 '37090': '9',
 '38000': '4',
 '38020': '9',
 '38030': '4',
 '38040': '5',
 '38050': '4',
 '38060': '4',
 '38090': '9',
 '39110': '5',
 '39120': '5',
 '39130': '5',
 '39140': '5',
 '39150': '9',
 '39190': '5',
 '39220': '5',
 '39230': '5',
 '39310': '5',
 '39320': '5',
 '39330': '5',
 '39340': '4',
 '39350': '5',
 '39390': '5',
 '39410': '5',
 '39420': '5',
 '39430': '5',
 '39440': '5',
 '39490': '5',
 '39520': '5',
 '39530': '5',
 '39920': '5',
 '39930': '5',
 '39940': '5',
 '39950': '9',
 '39960': '5',
 '39990': '5',
 '41020': '3',
 '41025': '4',
 '41030': '4',
 '41040': '4',
 '42220': '4',
 '42230': '4',
 '43120': '4',
 '43130': '4',
 '43200': '4',
 '43220': '4',
 '43230': '4',
 '44000': '4',
 '44100': '4',
 '44120': '4',
 '44130': '4',
 '44140': '4',
 '44190': '4',
 '44220': '4',
 '44230': '4',
 '44320': '4',
 '44330': '2',
 '45120': '4',
 '45125': '5',
 '45130': '5',
 '45140': '5',
 '45150': '5',
 '45190': '5',
 '45220': '11',
 '45230': '11',
 '45240': '11',
 '45290': '11',
 '49020': '5',
 '49030': '11',
 '49090': '5',
 '51000': '4',
 '51020': '1',
 '51030': '4',
 '51040': '4',
 '51050': '4',
 '51090': '4',
 '53100': '7',
 '53120': '6',
 '53130': '7',
 '53140': '7',
 '53150': '9',
 '53190': '11',
 '53210': '9',
 '53220': '3',
 '53230': '9',
 '53240': '9',
 '53250': '9',
 '53290': '9',
 '54010': '9',
 '54020': '11',
 '54030': '9',
 '54035': '9',
 '54040': '5',
 '54050': '11',
 '54055': '9',
 '54060': '5',
 '54090': '9',
 '55100': '5',
 '55120': '5',
 '55125': '5',
 '55130': '5',
 '55140': '5',
 '55190': '5',
 '55220': '11',
 '55230': '11',
 '55240': '11',
 '55290': '11',
 '56010': '9',
 '56020': '9',
 '56030': '9',
 '56040': '9',
 '56050': '9',
 '56060': '9',
 '56065': '9',
 '56070': '9',
 '56080': '9',
 '56090': '11',
 '57020': '9',
 '57025': '9',
 '57030': '9',
 '57040': '9',
 '57050': '9',
 '57060': '9',
 '57070': '9',
 '57090': '7',
 '58110': '7',
 '58120': '4',
 '58130': '7',
 '58140': '7',
 '58220': '4',
 '58225': '4',
 '58230': '4',
 '58240': '5',
 '58300': '9',
 '58320': '1',
 '58330': '3',
 '58340': '9',
 '58920': '4',
 '58930': '5',
 '58940': '5',
 '58990': '5',
 '59100': '5',
 '59120': '5',
 '59130': '5',
 '59220': '4',
 '59230': '7',
 '59290': '9',
 '59920': '5',
 '59930': '5',
 '59940': '9',
 '59950': '9',
 '59960': '9',
 '59970': '9',
 '59980': '11',
 '59990': '9',
 '61110': '8',
 '61115': '10',
 '61120': '1',
 '61220': '8',
 '61230': '8',
 '61235': '8',
 '61240': '8',
 '61250': '8',
 '61260': '8',
 '61270': '8',
 '61290': '8',
 '62105': '12',
 '62110': '12',
 '62120': '10',
 '62210': '12',
 '62220': '12',
 '62230': '12',
 '62240': '12',
 '62250': '10',
 '62260': '12',
 '62290': '12',
 '62320': '10',
 '62330': '12',
 '62340': '12',
 '62350': '12',
 '62390': '12',
 '62400': '12',
 '62410': '12',
 '62420': '12',
 '62430': '12',
 '62440': '12',
 '62450': '12',
 '62460': '12',
 '62490': '12',
 '62510': '10',
 '62520': '10',
 '62590': '12',
 '62610': '12',
 '62620': '12',
 '62690': '12',
 '62700': '12',
 '62720': '12',
 '62730': '12',
 '62740': '12',
 '62790': '12',
 '62820': '10',
 '62890': '10',
 '62920': '10',
 '62930': '12',
 '62940': '12',
 '62950': '12',
 '62960': '11',
 '62970': '11',
 '62990': '12',
 '63110': '10',
 '63120': '10',
 '63130': '8',
 '63140': '10',
 '63190': '10',
 '63220': '3',
 '63230': '12',
 '63240': '8',
 '63250': '12',
 '63290': '12',
 '64100': '10',
 '64120': '10',
 '64130': '10',
 '64920': '12',
 '64930': '12',
 '64940': '10',
 '64945': '10',
 '64950': '10',
 '64960': '10',
 '64990': '8',
 '71105': '9',
 '71110': '9',
 '71120': '9',
 '71125': '9',
 '71130': '9',
 '71140': '9',
 '71150': '7',
 '71160': '9',
 '71170': '11',
 '71190': '11',
 '71200': '9',
 '71220': '9',
 '71230': '9',
 '71240': '9',
 '71250': '9',
 '71260': '9',
 '71270': '9',
 '71280': '9',
 '71290': '11',
 '71300': '9',
 '71320': '9',
 '71330': '9',
 '71340': '7',
 '71350': '7',
 '71360': '9',
 '71370': '9',
 '71380': '9',
 '71390': '9',
 '72000': '9',
 '72100': '9',
 '72120': '9',
 '72130': '9',
 '72140': '9',
 '72150': '9',
 '72160': '9',
 '72170': '9',
 '72190': '9',
 '72200': '9',
 '72220': '9',
 '72230': '9',
 '72240': '9',
 '72250': '9',
 '72260': '9',
 '72270': '9',
 '72290': '9',
 '72320': '9',
 '72330': '9',
 '72340': '9',
 '72390': '9',
 '72420': '9',
 '72430': '9',
 '72440': '9',
 '72450': '9',
 '72490': '9',
 '72500': '7',
 '72520': '7',
 '72530': '7',
 '72540': '9',
 '72550': '7',
 '72555': '7',
 '72560': '9',
 '72590': '9',
 '72620': '9',
 '72630': '9',
 '72640': '9',
 '72650': '9',
 '72690': '11',
 '72720': '9',
 '72725': '9',
 '72730': '9',
 '72740': '9',
 '72750': '9',
 '72790': '11',
 '72820': '9',
 '72830': '9',
 '72840': '9',
 '72850': '9',
 '72890': '9',
 '72920': '9',
 '72930': '11',
 '72940': '9',
 '72990': '9',
 '73100': '9',
 '73120': '9',
 '73130': '9',
 '73190': '11',
 '73200': '9',
 '73210': '9',
 '73220': '9',
 '73230': '9',
 '73240': '9',
 '73250': '11',
 '73260': '9',
 '73270': '9',
 '73290': '9',
 '73320': '9',
 '73330': '9',
 '73340': '9',
 '73350': '9',
 '73360': '9',
 '73390': '11',
 '73400': '9',
 '73420': '9',
 '73430': '9',
 '73440': '9',
 '73450': '9',
 '73460': '9',
 '73490': '9',
 '74100': '9',
 '74120': '9',
 '74130': '9',
 '74140': '9',
 '74190': '9',
 '74220': '9',
 '74230': '9',
 '74240': '9',
 '74290': '9',
 '74320': '9',
 '74330': '9',
 '74340': '9',
 '74350': '9',
 '74390': '9',
 '74400': '9',
 '74420': '9',
 '74430': '9',
 '74440': '9',
 '74450': '9',
 '74460': '9',
 '74470': '9',
 '74490': '9',
 '74500': '11',
 '74520': '9',
 '74530': '9',
 '74540': '9',
 '74550': '9',
 '74560': '9',
 '74570': '9',
 '74590': '9',
 '74915': '9',
 '74920': '9',
 '74925': '9',
 '74930': '9',
 '74935': '9',
 '74940': '7',
 '74990': '9',
 '75000': '9',
 '75100': '9',
 '75115': '9',
 '75120': '9',
 '75125': '9',
 '75130': '9',
 '75135': '9',
 '75140': '9',
 '75145': '9',
 '75150': '9',
 '75155': '9',
 '75190': '11',
 '75220': '9',
 '75230': '9',
 '75240': '9',
 '75250': '9',
 '75290': '11',
 '75320': '7',
 '75330': '7',
 '75340': '9',
 '75350': '9',
 '75390': '9',
 '75400': '9',
 '75415': '9',
 '75420': '11',
 '75422': '11',
 '75425': '11',
 '75430': '9',
 '75432': '9',
 '75435': '9',
 '75440': '9',
 '75445': '9',
 '75450': '9',
 '75452': '9',
 '75455': '9',
 '75457': '9',
 '75460': '9',
 '75465': '9',
 '75470': '9',
 '75475': '7',
 '75490': '9',
 '75500': '9',
 '75520': '9',
 '75530': '9',
 '75535': '9',
 '75540': '9',
 '75550': '9',
 '75590': '9',
 '75600': '9',
 '75615': '9',
 '75620': '9',
 '75622': '9',
 '75625': '9',
 '75630': '9',
 '75635': '9',
 '75640': '9',
 '75645': '9',
 '75650': '9',
 '75655': '9',
 '75660': '9',
 '75665': '9',
 '75670': '9',
 '75690': '9',
 '75710': '9',
 '75720': '9',
 '75920': '11',
 '75922': '11',
 '75925': '7',
 '75930': '9',
 '75935': '9',
 '75940': '9',
 '75945': '9',
 '75950': '9',
 '75990': '9',
 '76100': '9',
 '76120': '9',
 '76125': '9',
 '76130': '9',
 '76135': '9',
 '76140': '11',
 '76145': '9',
 '76150': '11',
 '76155': '9',
 '76190': '9',
 '76200': '9',
 '76220': '9',
 '76230': '9',
 '76240': '9',
 '76250': '9',
 '76260': '9',
 '76290': '9',
 '77120': '7',
 '77130': '7',
 '77140': '9',
 '77190': '9',
 '77200': '9',
 '77220': '9',
 '77230': '9',
 '77240': '9',
 '77250': '9',
 '77260': '9',
 '77290': '9',
 '77310': '7',
 '77320': '9',
 '77330': '9',
 '77340': '9',
 '77390': '9',
 '77410': '9',
 '77415': '9',
 '77420': '9',
 '77430': '11',
 '77440': '9',
 '77450': '9',
 '77460': '9',
 '77490': '11',
 '77510': '9',
 '77520': '9',
 '77530': '9',
 '77540': '7',
 '77550': '7',
 '77590': '11',
 '77610': '7',
 '77620': '7',
 '77630': '7',
 '77640': '9',
 '77650': '9',
 '77660': '9',
 '77690': '9',
 '77720': '4',
 '77730': '9',
 '77740': '9',
 '77750': '9',
 '77760': '9',
 '77790': '9',
 '77810': '7',
 '77820': '9',
 '77825': '9',
 '77830': '9',
 '77835': '9',
 '77840': '9',
 '77850': '9',
 '77860': '4',
 '77870': '9',
 '77880': '9',
 '77890': '9',
 '77920': '9',
 '77925': '9',
 '77930': '9',
 '77940': '9',
 ...}

In [12]:
# Add the new HISCO title as some occupations had multiple skill levels
mappings["66666"] = "13"

In [13]:
value_exists_in_mappings = "66666" in mappings

mapping_value = mappings.get("66666", "Not found")

value_exists_in_mappings, mapping_value

(True, '13')

In [14]:
# Create a mapping dictionary for the Skills
skill_mappings = {
    "1": "high",
    "2": "high",
    "3": "medium",
    "4": "medium",
    "5": "low",
    "6": "medium",
    "7": "medium",
    "8": "medium",
    "9": "low",
    "10": "low",
    "11": "unskilled",
    "12": "unskilled",
    "13": "intermediate"} #for occupations with multiple skill levels

# Helper Functions

In [15]:
def replace_values_with_mappings(df, columns, mappings):

    """
    Replace the values in the specified columns of the DataFrame using the provided mappings dictionary.
    Also report any values that could not be replaced and their positions.
    Parameters:
    df (DataFrame): The DataFrame to modify
    columns (list): The list of columns to replace values in
    mappings (dict): The dictionary to use for the replacements

    Returns:
    DataFrame: The DataFrame with replaced values
    list: A list of tuples containing column names and index positions where values could not be replaced
    """
    not_replaced = []

    # Loop over each column

    for column in columns:
        # Loop over each row in the column
        for idx, value in enumerate(df[column]):
            try:
                # Try to replace the value using the mappings dictionary
                df.loc[idx, column] = mappings[value]
            except KeyError:
                # If the value is not in the mappings dictionary, record its position
                not_replaced.append((column, idx))          

    return df, not_replaced

In [16]:
def SkillCalculator(df_agri, df_A_Rest, status_cols, HISCO_cols, threshold_criteria = "Average_Firm_Size", threshold_lvl = 50):
    
    """
    This function performs several operations to update df_A_Rest based on the values in the DataFrame df_agri.
    The purpose is to use the distributional data on the status (e.g. uneducated laborer) and the corresponding
    HISCO, which was assigned by Hand, for each "Berufszweig" in the DataFrame df_agri.   
    1. It first calculates "_per" columns in the DataFrame, which are the proportions of each column
       related to the total sum of specific columns.
    2. The function then uses a threshold from the "Average_Firm_Size" column to decide how to 
       update df_A_Rest. If the average firm size is less than 50, it performs specific calculations
       to update skill levels ("high", "medium", "low", "unskilled") in df_A_Rest.

    Parameters:
    df_agri (DataFrame): Source DataFrame containing classifications and shares of occupations per profession.
    df_A_Rest (DataFrame): Orginal occupational data. Target DataFrame to be updated based on df_agri.

    Returns:
    df_agri (DataFrame): Updated source DataFrame with additional "_per" columns.
    df_A_Rest (DataFrame): Updated target DataFrame with skill level columns.
    """
    
    # Step 1: Create new "_per" columns
    cols_to_sum = status_cols
    df_agri["total"] = df_agri[cols_to_sum].sum(axis=1)
    for col in cols_to_sum:
        new_col_name = f"{col}_per"
        df_agri[new_col_name] = df_agri[col] / df_agri["total"]

    # Step 2: Convert "Average_Firm_Size" to float
    df_agri[threshold_criteria] = df_agri[threshold_criteria].astype(float)
    

    # Initialize empty columns in df_A_Rest
    df_A_Rest.loc[:, "high"] = 0
    df_A_Rest.loc[:, "medium"] = 0
    df_A_Rest.loc[:, "low"] = 0
    df_A_Rest.loc[:, "unskilled"] = 0

    # Step 3: Loop through each row in df_agri
    for idx, row in df_agri.iterrows():
        average_firm_size = row[threshold_criteria]
        special_case = row["Eindeutig_Identifizierbar"] == "Sonderfall"
        if average_firm_size < threshold_lvl and not special_case:
            # Calculate Handwerker
            handwerker_cols = [f"{col}_per" for col in cols_to_sum if col not in ["c3", "c1"]]
            handwerker = row[handwerker_cols].sum()
            print(f"Row {idx}: Calculated Handwerker as {handwerker} using columns {handwerker_cols}")
            
            # Calculate no Handwerker
            no_handwerker_cols = [f"{col}_per" for col in cols_to_sum if col in ["c3", "c1"]]
            no_handwerker = row[no_handwerker_cols].sum()
            print(f"Row {idx}: Calculated No_Handwerker as {no_handwerker} using columns {no_handwerker_cols}")
            
            # Find corresponding row(s) in df_A_Rest
            mask = (df_A_Rest["i_Grossbuchstabe"] == row["Letter"]) & (df_A_Rest["i_Ziffer"] == row["Number"])
            df_target_rows = df_A_Rest[mask]

            # Update df_A_Rest
            for target_idx, target_row in df_target_rows.iterrows():
                value_to_add = handwerker * target_row["d_Hauptberuf"]
                skill_level_c2 = row["c2_HISCO"]
                skill_level_c3 = row["c3_HISCO"]

                value_to_add_c3 = no_handwerker * target_row["d_Hauptberuf"]

                # Sum up the values if both c2_HISCO and c3_HISCO contain the same value
                df_A_Rest.loc[target_idx, skill_level_c2] += value_to_add
                df_A_Rest.loc[target_idx, skill_level_c3] += value_to_add_c3
        
         # New case for Average_Firm_Size >= 50

        else:
            # Find corresponding row(s) in df_A_Rest
            mask = (df_A_Rest["i_Grossbuchstabe"] == row["Letter"]) & (df_A_Rest["i_Ziffer"] == row["Number"])
            df_target_rows = df_A_Rest[mask]        

            # Columns to consider from a1 to c3, excluding c1
            cols_to_consider = HISCO_cols            

            # Update df_A_Rest based on these columns
            for target_idx, target_row in df_target_rows.iterrows():
                for col in cols_to_consider:
                    col_per = f"{col}_per"
                    skill_level = row[f"{col}_HISCO"]                   

                    # Special case: Include c1 as part of c3
                    if col == "c3":
                        value_to_add = (row["c3_per"] + row["c1_per"]) * target_row["d_Hauptberuf"]
                    else:
                        value_to_add = row[col_per] * target_row["d_Hauptberuf"]                        

                    df_A_Rest.loc[target_idx, skill_level] += value_to_add

    return df_agri, df_A_Rest

# Agriculture

In [17]:
# Filter the data so we only have the people working in agriculture

df_A = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"] == "A"]

# Then, from this filtered DataFrame, filter rows where "i_Ziffer" == 1

df_A_1 = df_A[df_A["i_Ziffer"] == 1]

df_A_Rest = occupation_detailed_df[(occupation_detailed_df["i_Grossbuchstabe"] == "A") & (occupation_detailed_df["i_Ziffer"].isin([2, 3, 5, 6]))]

# Display the final filtered DataFrame

df_A_1

,id_inequality,i_Grossbuchstabe,i_Ziffer,d_Hauptberuf_m,d_Hauptberuf_w,d_Hauptberuf,rb_id,high,medium,low,unskilled,intermediate
0,1.0,A,1,6541.0,5786.0,12327.0,17.0,,,,,0
151,2.0,A,1,6958.0,2642.0,9600.0,17.0,,,,,0
278,4.0,A,1,775.0,541.0,1316.0,17.0,,,,,0
470,5.0,A,1,7888.0,4313.0,12201.0,17.0,,,,,0
580,6.0,A,1,8346.0,6940.0,15286.0,17.0,,,,,0
...,...,...,...,...,...,...,...,...,...,...,...,...
80309,698.0,A,1,6929.0,4864.0,11793.0,1.0,,,,,0
80437,699.0,A,1,3807.0,3802.0,7609.0,31.0,,,,,0
80564,700.0,A,1,2647.0,300.0,2947.0,31.0,,,,,0
80672,701.0,A,1,3313.0,3884.0,7197.0,31.0,,,,,0
80791,702.0,A,1,2186.0,2922.0,5108.0,31.0,,,,,0

## **1. Agriculture** (df_A_1)

In [18]:
Agri_rb = pd.read_excel(f"{classification_path}\Agriculture_Regionalized.xlsx", dtype=str)
Agri_rb

,Regierungsbezirk,id,province,province_name,a1,a2,b,c,Summe,Fläche der Betriebe mit über 100ha
0,Aachen,1,12,Rheinprovinz,11414.10965504654,17162.89034495346,188,54922,83687,4.4
1,Allenstein,37,1,Ostpreußen,22358.079997615572,10659.92000238443,1157,107974,142149,30.8
2,Arnsberg,2,10,Westfalen,15318.370995750969,13712.629004249031,646,76458,106135,4.3
3,Aurich,3,9,Hannover,7328.028000770663,8724.971999229336,209,44926,61188,3.8
4,Breslau,5,6,Schlesien,33898.66478795318,24788.33521204682,4705,234295,297687,41.6
5,Bromberg,6,5,Posen,23026.96644018288,8972.033559817119,2593,142645,177237,44.4
6,Danzig,7,2,Westpreußen,17593.065254512927,7775.93474548707,1646,97352,124367,31.9
7,Düsseldorf,8,12,Rheinprovinz,16783.36947200784,17769.630527992158,570,92568,127691,3.1
8,Erfurt,9,7,Sachsen,10256.883651487682,8561.116348512318,436,52277,71531,15.6
9,Frankfurt,10,3,Brandenburg,33396.12918660287,24323.87081339713,2676,210002,270398,35.3
10,Gumbinnen,11,1,Ostpreußen,23843.240263120533,18191.759736879467,1801,138514,182350,32
11,Hannover,12,9,Hannover,15000.705514639842,13162.294485360158,438,78299,106900,8.8
12,Hildesheim,13,9,Hannover,10997.651739690722,7755.348260309278,970,70511,90234,20.5
13,Kassel,14,11,Hessen-Nassau,24401.28367308849,24503.716326911515,605,130651,180161,9
14,Koblenz,15,12,Rheinprovinz,15139.364124449341,38167.63587555066,494,111970,165771,1.1
15,Köln,16,12,Rheinproviz,10900.855983634503,20636.144016365495,295,63742,95574,9.8
16,Königsberg,17,1,Ostpreußen,20493.76221713175,7857.237782868248,3167,145917,177435,49.8
17,Köslin,18,4,Pommern,24741.12035262553,8941.879647374473,2398,131779,167860,50.7
18,Liegnitz,19,6,Schlesien,31206.96923452145,26769.030765478554,3725,174819,236520,28.8
19,Lüneburg,20,9,Hannover,19040.740253134256,14299.259746865744,519,104618,138477,6.3
20,Magdeburg,21,7,Sachsen,22781.821320241404,10010.178679758592,3113,168138,204043,31.9
21,Marienwerder,22,2,Westpreußen,31594.25266262494,17589.74733737506,3005,191808,243997,41.4
22,Merseburg,23,7,Sachsen,24223.791729688084,10654.20827031192,3424,163907,202209,29.8
23,Minden,24,10,Westfalen,15053.990430101678,22382.00956989832,391,84135,121962,8
24,Münster,25,10,Westfalen,17954.351078225318,17166.648921774682,601,90618,126340,2.3
25,Oppeln,26,6,Schlesien,32553.599550928215,43400.400449071785,2247,232660,310861,33
26,Osnabrück,27,9,Hannover,12608.901241304051,17354.09875869595,72,70483,100518,0.7
27,Potsdam,29,3,Brandenburg,30699.38323164062,11004.616768359385,2468,194430,238602,35.7
28,Posen,28,5,Posen,39769.85037762809,23303.149622371915,4934,249151,317158,47.1
29,Schleswig,30,8,Schleswig,44088.04242084618,11500.957579153825,2663,161324,219576,16.3
30,Sigmaringen,31,14,Hohenzollerische Lande,3415.8975447452963,5287.102455254704,17,16930,25650,1.6
31,Stade,32,9,Hannover,14853.706931142824,12070.293068857176,208,63324,90456,4
32,Stadt Berlin,4,13,Brandenburg,547,0,126,782,1455,0
33,Stettin,33,4,Pommern,21119.739025494044,6065.260974505959,2383,124166,153734,49.5
34,Stralsund,34,4,Pommern,3306.1357311068286,1483.8642688931707,1401,39449,45640,77.3
35,Trier,35,12,Rheinprovinz,18857.76000519188,30300.23999480812,137,113742,163037,1.4
36,Wiesbaden,36,11,Hessen-Nassau,13537.14362951979,29609.85637048021,178,88350,131675,2.9

==> percentages für a1 (General Farmers, medium skilled) und a2 (Subistenzlandwirtschaft, low skilled)

In [19]:
#calculate the percentages

# for a1
Agri_rb["a1"] = Agri_rb["a1"].astype(float)
Agri_rb["Summe"] = Agri_rb["Summe"].astype(float)
Agri_rb["a1_per"] = Agri_rb["a1"] / Agri_rb["Summe"]

# for a2
Agri_rb["a2"] = Agri_rb["a2"].astype(float)
Agri_rb["Summe"] = Agri_rb["Summe"].astype(float)
Agri_rb["a2_per"] = Agri_rb["a2"] / Agri_rb["Summe"]

# for b
Agri_rb["b"] = Agri_rb["b"].astype(float)
Agri_rb["Summe"] = Agri_rb["Summe"].astype(float)
Agri_rb["b_per"] = Agri_rb["b"] / Agri_rb["Summe"]

# for c
Agri_rb["c"] = Agri_rb["c"].astype(float)
Agri_rb["Summe"] = Agri_rb["Summe"].astype(float)
Agri_rb["c_per"] = Agri_rb["c"] / Agri_rb["Summe"]

In [20]:
Agri_rb

,Regierungsbezirk,id,province,province_name,a1,a2,b,c,Summe,Fläche der Betriebe mit über 100ha,a1_per,a2_per,b_per,c_per
0,Aachen,1,12,Rheinprovinz,11414.109655,17162.890345,188.0,54922.0,83687.0,4.4,0.136390,0.205084,0.002246,0.656279
1,Allenstein,37,1,Ostpreußen,22358.079998,10659.920002,1157.0,107974.0,142149.0,30.8,0.157286,0.074991,0.008139,0.759583
2,Arnsberg,2,10,Westfalen,15318.370996,13712.629004,646.0,76458.0,106135.0,4.3,0.144329,0.129200,0.006087,0.720384
3,Aurich,3,9,Hannover,7328.028001,8724.971999,209.0,44926.0,61188.0,3.8,0.119763,0.142593,0.003416,0.734229
4,Breslau,5,6,Schlesien,33898.664788,24788.335212,4705.0,234295.0,297687.0,41.6,0.113874,0.083270,0.015805,0.787052
5,Bromberg,6,5,Posen,23026.966440,8972.033560,2593.0,142645.0,177237.0,44.4,0.129922,0.050622,0.014630,0.804826
6,Danzig,7,2,Westpreußen,17593.065255,7775.934745,1646.0,97352.0,124367.0,31.9,0.141461,0.062524,0.013235,0.782780
7,Düsseldorf,8,12,Rheinprovinz,16783.369472,17769.630528,570.0,92568.0,127691.0,3.1,0.131437,0.139161,0.004464,0.724938
8,Erfurt,9,7,Sachsen,10256.883651,8561.116349,436.0,52277.0,71531.0,15.6,0.143391,0.119684,0.006095,0.730830
9,Frankfurt,10,3,Brandenburg,33396.129187,24323.870813,2676.0,210002.0,270398.0,35.3,0.123507,0.089956,0.009897,0.776640
10,Gumbinnen,11,1,Ostpreußen,23843.240263,18191.759737,1801.0,138514.0,182350.0,32,0.130755,0.099763,0.009877,0.759605
11,Hannover,12,9,Hannover,15000.705515,13162.294485,438.0,78299.0,106900.0,8.8,0.140325,0.123127,0.004097,0.732451
12,Hildesheim,13,9,Hannover,10997.651740,7755.348260,970.0,70511.0,90234.0,20.5,0.121879,0.085947,0.010750,0.781424
13,Kassel,14,11,Hessen-Nassau,24401.283673,24503.716327,605.0,130651.0,180161.0,9,0.135442,0.136010,0.003358,0.725190
14,Koblenz,15,12,Rheinprovinz,15139.364124,38167.635876,494.0,111970.0,165771.0,1.1,0.091327,0.230243,0.002980,0.675450
15,Köln,16,12,Rheinproviz,10900.855984,20636.144016,295.0,63742.0,95574.0,9.8,0.114057,0.215918,0.003087,0.666939
16,Königsberg,17,1,Ostpreußen,20493.762217,7857.237783,3167.0,145917.0,177435.0,49.8,0.115500,0.044282,0.017849,0.822369
17,Köslin,18,4,Pommern,24741.120353,8941.879647,2398.0,131779.0,167860.0,50.7,0.147391,0.053270,0.014286,0.785053
18,Liegnitz,19,6,Schlesien,31206.969235,26769.030765,3725.0,174819.0,236520.0,28.8,0.131942,0.113179,0.015749,0.739130
19,Lüneburg,20,9,Hannover,19040.740253,14299.259747,519.0,104618.0,138477.0,6.3,0.137501,0.103261,0.003748,0.755490
20,Magdeburg,21,7,Sachsen,22781.821320,10010.178680,3113.0,168138.0,204043.0,31.9,0.111652,0.049059,0.015257,0.824032
21,Marienwerder,22,2,Westpreußen,31594.252663,17589.747337,3005.0,191808.0,243997.0,41.4,0.129486,0.072090,0.012316,0.786108
22,Merseburg,23,7,Sachsen,24223.791730,10654.208270,3424.0,163907.0,202209.0,29.8,0.119796,0.052689,0.016933,0.810582
23,Minden,24,10,Westfalen,15053.990430,22382.009570,391.0,84135.0,121962.0,8,0.123432,0.183516,0.003206,0.689846
24,Münster,25,10,Westfalen,17954.351078,17166.648922,601.0,90618.0,126340.0,2.3,0.142111,0.135877,0.004757,0.717255
25,Oppeln,26,6,Schlesien,32553.599551,43400.400449,2247.0,232660.0,310861.0,33,0.104721,0.139614,0.007228,0.748437
26,Osnabrück,27,9,Hannover,12608.901241,17354.098759,72.0,70483.0,100518.0,0.7,0.125439,0.172647,0.000716,0.701198
27,Potsdam,29,3,Brandenburg,30699.383232,11004.616768,2468.0,194430.0,238602.0,35.7,0.128664,0.046121,0.010344,0.814872
28,Posen,28,5,Posen,39769.850378,23303.149622,4934.0,249151.0,317158.0,47.1,0.125394,0.073475,0.015557,0.785574
29,Schleswig,30,8,Schleswig,44088.042421,11500.957579,2663.0,161324.0,219576.0,16.3,0.200787,0.052378,0.012128,0.734707
30,Sigmaringen,31,14,Hohenzollerische Lande,3415.897545,5287.102455,17.0,16930.0,25650.0,1.6,0.133173,0.206125,0.000663,0.660039
31,Stade,32,9,Hannover,14853.706931,12070.293069,208.0,63324.0,90456.0,4,0.164209,0.133438,0.002299,0.700053
32,Stadt Berlin,4,13,Brandenburg,547.000000,0.000000,126.0,782.0,1455.0,0,0.375945,0.000000,0.086598,0.537457
33,Stettin,33,4,Pommern,21119.739025,6065.260975,2383.0,124166.0,153734.0,49.5,0.137378,0.039453,0.015501,0.807668
34,Stralsund,34,4,Pommern,3306.135731,1483.864269,1401.0,39449.0,45640.0,77.3,0.072439,0.032512,0.030697,0.864351
35,Trier,35,12,Rheinprovinz,18857.760005,30300.239995,137.0,113742.0,163037.0,1.4,0.115666,0.185849,0.000840,0.697645
36,Wiesbaden,36,11,Hessen-Nassau,13537.143630,29609.856370,178.0,88350.0,131675.0,2.9,0.102807,0.224871,0.001352,0.670970

In [21]:
# Convert 'rb_id' in both DataFrames to string to ensure they have the same format

df_A_1["rb_id"] = df_A_1["rb_id"].astype(str)

Agri_rb["id"] = Agri_rb["id"].astype(str)

# Remove the '.0' from the 'rb_id' values in df_A_1
df_A_1["rb_id"] = df_A_1["rb_id"].str.replace('.0', '', regex=False)

# Perform the merge 
df_A_1 = pd.merge(df_A_1, Agri_rb[["id", "a1_per", "a2_per", "b_per", "c_per"]], left_on="rb_id", right_on="id", how="left")

# Show some rows
df_A_1.head()

C:\Users\soere\AppData\Local\Temp\ipykernel_2912\1274393717.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_A_1["rb_id"] = df_A_1["rb_id"].astype(str)
C:\Users\soere\AppData\Local\Temp\ipykernel_2912\1274393717.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_A_1["rb_id"] = df_A_1["rb_id"].str.replace('.0', '', regex=False)

,id_inequality,i_Grossbuchstabe,i_Ziffer,d_Hauptberuf_m,d_Hauptberuf_w,d_Hauptberuf,rb_id,high,medium,low,unskilled,intermediate,id,a1_per,a2_per,b_per,c_per
0,1.0,A,1,6541.0,5786.0,12327.0,17,,,,,0,17,0.1155,0.044282,0.017849,0.822369
1,2.0,A,1,6958.0,2642.0,9600.0,17,,,,,0,17,0.1155,0.044282,0.017849,0.822369
2,4.0,A,1,775.0,541.0,1316.0,17,,,,,0,17,0.1155,0.044282,0.017849,0.822369
3,5.0,A,1,7888.0,4313.0,12201.0,17,,,,,0,17,0.1155,0.044282,0.017849,0.822369
4,6.0,A,1,8346.0,6940.0,15286.0,17,,,,,0,17,0.1155,0.044282,0.017849,0.822369

In [22]:
# Convert 'a_per', 'b_per', 'c_per', and 'd_Hauptberuf_total' to float for calculations

df_A_1["a1_per"] = df_A_1["a1_per"].astype(float)
df_A_1["a2_per"] = df_A_1["a2_per"].astype(float)
df_A_1["b_per"] = df_A_1["b_per"].astype(float)
df_A_1["c_per"] = df_A_1["c_per"].astype(float)
df_A_1["d_Hauptberuf"] = df_A_1["d_Hauptberuf"].astype(float)

# Create and fill the 'medium' and 'unskilled' columns

df_A_1["high"] = ''
df_A_1["medium"] = df_A_1["d_Hauptberuf"] * df_A_1["a1_per"]
df_A_1["low"] = df_A_1["d_Hauptberuf"] * (df_A_1["a2_per"] + df_A_1["b_per"])
df_A_1["unskilled"] = df_A_1["d_Hauptberuf"] * df_A_1["c_per"]

# Reorder the columns

column_order = ["id_inequality", "i_Grossbuchstabe", "i_Ziffer", "d_Hauptberuf_m", "d_Hauptberuf_w", "rb_id", "d_Hauptberuf", "high", "medium", "low", "unskilled"]

df_A_1 = df_A_1[column_order]
df_A_1

,id_inequality,i_Grossbuchstabe,i_Ziffer,d_Hauptberuf_m,d_Hauptberuf_w,rb_id,d_Hauptberuf,high,medium,low,unskilled
0,1.0,A,1,6541.0,5786.0,17,12327.0,,1423.769870,765.890490,10137.339640
1,2.0,A,1,6958.0,2642.0,17,9600.0,,1108.801067,596.458888,7894.740046
2,4.0,A,1,775.0,541.0,17,1316.0,,151.998146,81.764573,1082.237281
3,5.0,A,1,7888.0,4313.0,17,12201.0,,1409.216856,758.061967,10033.721177
4,6.0,A,1,8346.0,6940.0,17,15286.0,,1765.534699,949.736516,12570.728785
...,...,...,...,...,...,...,...,...,...,...,...
570,698.0,A,1,6929.0,4864.0,1,11793.0,,1608.452868,2445.051798,7739.495334
571,699.0,A,1,3807.0,3802.0,31,7609.0,,1013.316352,1573.447001,5022.236647
572,700.0,A,1,2647.0,300.0,31,2947.0,,392.461991,609.403116,1945.134893
573,701.0,A,1,3313.0,3884.0,31,7197.0,,958.448913,1488.250502,4750.300585
574,702.0,A,1,2186.0,2922.0,31,5108.0,,680.249694,1056.271163,3371.479142

## Other Primary Professions (df_A_Rest)

In [23]:
df_A_Rest

,id_inequality,i_Grossbuchstabe,i_Ziffer,d_Hauptberuf_m,d_Hauptberuf_w,d_Hauptberuf,rb_id,high,medium,low,unskilled,intermediate
1,1.0,A,2,38.0,10.0,48.0,17.0,,,,,0
3,1.0,A,5,397.0,110.0,507.0,17.0,,,,,0
4,1.0,A,6,187.0,36.0,223.0,17.0,,,,,0
152,2.0,A,2,92.0,10.0,102.0,17.0,,,,,0
153,2.0,A,3,1.0,0.0,1.0,17.0,,,,,0
...,...,...,...,...,...,...,...,...,...,...,...,...
80673,701.0,A,2,15.0,2.0,17.0,31.0,,,,,0
80674,701.0,A,3,1.0,0.0,1.0,31.0,,,,,0
80792,702.0,A,2,2.0,1.0,3.0,31.0,,,,,0
80793,702.0,A,3,0.0,0.0,0.0,31.0,,,,,0
80795,702.0,A,6,1.0,0.0,1.0,31.0,,,,,0

In [24]:
# Load the data to classify Agri_Rest

df_agri_rest = pd.read_excel(f"{classification_path}\Primary_Sector_Rest.xlsx", dtype=str)

In [25]:
# Columns to replace values in
columns_to_replace = ["a1_HISCO", "a2_HISCO", "a3_HISCO", "b1_HISCO", "b2_HISCO", "b3_HISCO", "c2_HISCO", "c3_HISCO"]

# Use the function to replace values in df_agri_rest
df_agri_rest, not_replaced_positions = replace_values_with_mappings(df_agri_rest, columns_to_replace, mappings)

# Show the first few rows of the modified DataFrame and the positions where values could not be replaced
df_agri_rest, not_replaced_positions

(  Letter                                 Letter Description Roman
 0      A  Landwirtschaft, Gärtnerei und Tierzucht, Forst...     I  \
 1      A  Landwirtschaft, Gärtnerei und Tierzucht, Forst...     I
 2      A  Landwirtschaft, Gärtnerei und Tierzucht, Forst...    II
 3      A  Landwirtschaft, Gärtnerei und Tierzucht, Forst...    II

                          Roman Description Number
 0  Landwirtschaft, Gärtnerei und Tierzucht      2  \
 1  Landwirtschaft, Gärtnerei und Tierzucht      3
 2            Forstwirtschaft und Fischerei      5
 3            Forstwirtschaft und Fischerei      6

                                   Number Description
 0  Kunst- und Handelsgärtnerei, einschließlich de...  \
 1  Tierzucht (Bienen, Seidenraupen, Fische, Singv...
 2        Fischerei auf offener See und an den Küsten
 3                       Fischerei in Binnengewässern

                                         HISCO Number
 0                                       61270, 62700  \
 1  62920 (Imker), 62930 (Sericulture Worker), 629...
 2                                              64100
 3                                              64100

   Eindeutig_Identifizierbar a1_HISCO a2_HISCO  ...     a1    a2    a3   b1
 0   Nein, zu viele Sektoren      NaN      NaN  ...  25371  3868  1598  739  \
 1   Nein, zu viele Sektoren      NaN      NaN  ...   1215    17    47   27
 2                        Ja      NaN      NaN  ...   6434   876    91   82
 3                        Ja      NaN      NaN  ...   3669  2754    78   36

      b2   b3    c1     c2     c3  afr
 0  1980  746  9373  69438  35009    0
 1    40   85    71    277    654  115
 2   115   66  1269   2889   1292    0
 3   179   13   832   2804   1326    0

 [4 rows x 28 columns],
 [('a1_HISCO', 0),
  ('a1_HISCO', 1),
  ('a1_HISCO', 2),
  ('a1_HISCO', 3),
  ('a2_HISCO', 0),
  ('a2_HISCO', 1),
  ('a2_HISCO', 2),
  ('a2_HISCO', 3),
  ('a3_HISCO', 0),
  ('a3_HISCO', 1),
  ('a3_HISCO', 2),
  ('a3_HISCO', 3),
  ('b1_HISCO', 0),
  ('b1_HISCO', 1),
  ('b1_HISCO', 2),
  ('b1_HISCO', 3),
  ('b2_HISCO', 0),
  ('b2_HISCO', 1),
  ('b2_HISCO', 2),
  ('b2_HISCO', 3),
  ('b3_HISCO', 0),
  ('b3_HISCO', 1),
  ('b3_HISCO', 2),
  ('b3_HISCO', 3)])

In [26]:
pd.set_option("display.max_columns", None)
df_agri_rest

,Letter,Letter Description,Roman,Roman Description,Number,Number Description,HISCO Number,Eindeutig_Identifizierbar,a1_HISCO,a2_HISCO,a3_HISCO,b1_HISCO,b2_HISCO,b3_HISCO,c2_HISCO,c3_HISCO,Average_Firm_Size,Problem mit unterschiedlichen bei c2,a1,a2,a3,b1,b2,b3,c1,c2,c3,afr
0,A,"Landwirtschaft, Gärtnerei und Tierzucht, Forst...",I,"Landwirtschaft, Gärtnerei und Tierzucht",2,"Kunst- und Handelsgärtnerei, einschließlich de...","61270, 62700","Nein, zu viele Sektoren",NaN,NaN,NaN,NaN,NaN,NaN,12,12,3.451637076320037,NaN,25371,3868,1598,739,1980,746,9373,69438,35009,0
1,A,"Landwirtschaft, Gärtnerei und Tierzucht, Forst...",I,"Landwirtschaft, Gärtnerei und Tierzucht",3,"Tierzucht (Bienen, Seidenraupen, Fische, Singv...","62920 (Imker), 62930 (Sericulture Worker), 629...","Nein, zu viele Sektoren",NaN,NaN,NaN,NaN,NaN,NaN,12,12,1.4373673036093417,"Ja, low skill gewählt",1215,17,47,27,40,85,71,277,654,115
2,A,"Landwirtschaft, Gärtnerei und Tierzucht, Forst...",II,Forstwirtschaft und Fischerei,5,Fischerei auf offener See und an den Küsten,64100,Ja,NaN,NaN,NaN,NaN,NaN,NaN,10,11,2.138644918444166,NaN,6434,876,91,82,115,66,1269,2889,1292,0
3,A,"Landwirtschaft, Gärtnerei und Tierzucht, Forst...",II,Forstwirtschaft und Fischerei,6,Fischerei in Binnengewässern,64100,Ja,NaN,NaN,NaN,NaN,NaN,NaN,10,11,1.6952965235173825,NaN,3669,2754,78,36,179,13,832,2804,1326,0

In [27]:
df_agri_rest, not_replaced_positions = replace_values_with_mappings(df_agri_rest, columns_to_replace, skill_mappings)
df_agri_rest

,Letter,Letter Description,Roman,Roman Description,Number,Number Description,HISCO Number,Eindeutig_Identifizierbar,a1_HISCO,a2_HISCO,a3_HISCO,b1_HISCO,b2_HISCO,b3_HISCO,c2_HISCO,c3_HISCO,Average_Firm_Size,Problem mit unterschiedlichen bei c2,a1,a2,a3,b1,b2,b3,c1,c2,c3,afr
0,A,"Landwirtschaft, Gärtnerei und Tierzucht, Forst...",I,"Landwirtschaft, Gärtnerei und Tierzucht",2,"Kunst- und Handelsgärtnerei, einschließlich de...","61270, 62700","Nein, zu viele Sektoren",NaN,NaN,NaN,NaN,NaN,NaN,unskilled,unskilled,3.451637076320037,NaN,25371,3868,1598,739,1980,746,9373,69438,35009,0
1,A,"Landwirtschaft, Gärtnerei und Tierzucht, Forst...",I,"Landwirtschaft, Gärtnerei und Tierzucht",3,"Tierzucht (Bienen, Seidenraupen, Fische, Singv...","62920 (Imker), 62930 (Sericulture Worker), 629...","Nein, zu viele Sektoren",NaN,NaN,NaN,NaN,NaN,NaN,unskilled,unskilled,1.4373673036093417,"Ja, low skill gewählt",1215,17,47,27,40,85,71,277,654,115
2,A,"Landwirtschaft, Gärtnerei und Tierzucht, Forst...",II,Forstwirtschaft und Fischerei,5,Fischerei auf offener See und an den Küsten,64100,Ja,NaN,NaN,NaN,NaN,NaN,NaN,low,unskilled,2.138644918444166,NaN,6434,876,91,82,115,66,1269,2889,1292,0
3,A,"Landwirtschaft, Gärtnerei und Tierzucht, Forst...",II,Forstwirtschaft und Fischerei,6,Fischerei in Binnengewässern,64100,Ja,NaN,NaN,NaN,NaN,NaN,NaN,low,unskilled,1.6952965235173825,NaN,3669,2754,78,36,179,13,832,2804,1326,0

In [28]:
cols_to_check = ["a1", "a2", "a3", "b1", "b2", "b3", "c1", "c2", "c3", "afr", "Average_Firm_Size"]
print(df_agri_rest[cols_to_check].dtypes)
print(df_A_Rest["d_Hauptberuf"].dtypes)

# Convert to floats
df_agri_rest[cols_to_check] = df_agri_rest[cols_to_check].apply(pd.to_numeric, errors="coerce")

# Convert 'd_Hauptberuf' column in df_A_Rest to float
df_A_Rest["d_Hauptberuf"] = pd.to_numeric(df_A_Rest["d_Hauptberuf"], errors="coerce")

# Check the data types after conversion
agri_dtypes = df_agri_rest[cols_to_check].dtypes
a_rest_dtype = df_A_Rest["d_Hauptberuf"].dtype
print(agri_dtypes)
print(a_rest_dtype)

a1                   object
a2                   object
a3                   object
b1                   object
b2                   object
b3                   object
c1                   object
c2                   object
c3                   object
afr                  object
Average_Firm_Size    object
dtype: object
float64
a1                     int64
a2                     int64
a3                     int64
b1                     int64
b2                     int64
b3                     int64
c1                     int64
c2                     int64
c3                     int64
afr                    int64
Average_Firm_Size    float64
dtype: object
float64

C:\Users\soere\AppData\Local\Temp\ipykernel_2912\515039550.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_A_Rest["d_Hauptberuf"] = pd.to_numeric(df_A_Rest["d_Hauptberuf"], errors="coerce")

In [29]:
# Define the columns
df_agri_rest["c3"] = df_agri_rest["c3"] + df_agri_rest["afr"]

# HISCO cols
cols_to_consider = ["a1", "a2", "a3", "b1", "b2", "b3", "c2", "c3"]

# columns to consider
status_cols = ["a1", "a2", "a3", "b1", "b2", "b3", "c1", "c2", "c3"]
df_A_Rest.loc[:, "i_Ziffer"] = df_A_Rest["i_Ziffer"].astype(str)
df_agri_rest_filled3, df_A_Rest = SkillCalculator(df_agri_rest, df_A_Rest, status_cols, cols_to_consider)
df_A_Rest

Row 0: Calculated Handwerker as 0.7003686150605581 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 0: Calculated No_Handwerker as 0.2996313849394418 using columns ['c1_per', 'c3_per']
Row 1: Calculated Handwerker as 0.6703296703296704 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 1: Calculated No_Handwerker as 0.32967032967032966 using columns ['c1_per', 'c3_per']
Row 2: Calculated Handwerker as 0.8047125209699558 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 2: Calculated No_Handwerker as 0.19528747903004423 using columns ['c1_per', 'c3_per']
Row 3: Calculated Handwerker as 0.8154135659909332 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 3: Calculated No_Handwerker as 0.18458643400906682 using columns ['c1_per', 'c3_per']

,id_inequality,i_Grossbuchstabe,i_Ziffer,d_Hauptberuf_m,d_Hauptberuf_w,d_Hauptberuf,rb_id,high,medium,low,unskilled,intermediate
1,1.0,A,2,38.0,10.0,48.0,17.0,0,0,0,48.0,0
3,1.0,A,5,397.0,110.0,507.0,17.0,0,0,407.989248,99.010752,0
4,1.0,A,6,187.0,36.0,223.0,17.0,0,0,181.837225,41.162775,0
152,2.0,A,2,92.0,10.0,102.0,17.0,0,0,0,102.0,0
153,2.0,A,3,1.0,0.0,1.0,17.0,0,0,0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
80673,701.0,A,2,15.0,2.0,17.0,31.0,0,0,0,17.0,0
80674,701.0,A,3,1.0,0.0,1.0,31.0,0,0,0,1.0,0
80792,702.0,A,2,2.0,1.0,3.0,31.0,0,0,0,3.0,0
80793,702.0,A,3,0.0,0.0,0.0,31.0,0,0,0,0.0,0
80795,702.0,A,6,1.0,0.0,1.0,31.0,0,0,0.815414,0.184586,0

# Manufacturing and Crafts

In [30]:
# Filter the data so we only have the people working in industry

df_Ind = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"] == "B"]

# Drop people in the industrial sector that couldn't be assigned

df_Ind = df_Ind[df_Ind["i_Ziffer"] != 166]

# Display the final filtered DataFrame

df_Ind

,id_inequality,i_Grossbuchstabe,i_Ziffer,d_Hauptberuf_m,d_Hauptberuf_w,d_Hauptberuf,rb_id,high,medium,low,unskilled,intermediate
5,1.0,B,1,2.0,0.0,2.0,17.0,,,,,0
6,1.0,B,6,3.0,0.0,3.0,17.0,,,,,0
7,1.0,B,7,1.0,0.0,1.0,17.0,,,,,0
8,1.0,B,8,9.0,0.0,9.0,17.0,,,,,0
9,1.0,B,9,1.0,0.0,1.0,17.0,,,,,0
...,...,...,...,...,...,...,...,...,...,...,...,...
80859,702.0,B,152,1.0,0.0,1.0,31.0,,,,,0
80860,702.0,B,153,4.0,0.0,4.0,31.0,,,,,0
80861,702.0,B,154,3.0,0.0,3.0,31.0,,,,,0
80862,702.0,B,157,6.0,0.0,6.0,31.0,,,,,0
80863,702.0,B,162,3.0,0.0,3.0,31.0,,,,,0

In [31]:
# Load the data to classify df_Ind
df_dist_Ind = pd.read_excel(f"{classification_path}\Manufacturing_and_Crafts.xlsx", dtype=str)
df_dist_Ind = df_dist_Ind[df_dist_Ind["Number"] != "166"]
df_dist_Ind

,Letter,Letter Description,Roman,Roman Description,Number,Number Description,HISCO Number,Eindeutig_Identifizierbar,a1_HISCO,a2_HISCO,a3_HISCO,b1_HISCO,b2_HISCO,b3_HISCO,c2_HISCO,c3_HISCO,Average_Firm_Size,Problem mit unterschiedlichen bei c2,a1,a2,a3,b1,b2,b3,c1,c2,c3,afr
0,B,"Industrie, einschließlich Bergbau und Baugewerbe",III,"Bergbau, Hütten- und Salinenwesen, Torfgräberei",1,"Erzgewinnung (Erzbergwerke und Erzgruben), auc...","71105 (Miner), 02730 (Metal-Mining Engineer), ...",Nein,21110,21110,21110,02730,22000,30000,71200,99910,209.86133333333333,NaN,136,2,737,708,3126,1263,9,42463,33200,0
1,B,"Industrie, einschließlich Bergbau und Baugewerbe",III,"Bergbau, Hütten- und Salinenwesen, Torfgräberei",2,"Hüttenbetrieb, auch Frisch- und Streckwerke","72000 (Metal Processor, Specialisation Unknown...",Nein,21110,21110,21110,02620,22000,30000,72000,99910,227.3030634573304,NaN,418,6,921,3397,7075,9971,3,33809,187867,0
2,B,"Industrie, einschließlich Bergbau und Baugewerbe",III,"Bergbau, Hütten- und Salinenwesen, Torfgräberei",3,Salzgewinnung (Salzbergwerke und Salinen),"74470 (Salinen), 02790 (Other Mining Engineers...",Nein,21110,21110,21110,02790,22000,30000,71105,99910,136.85955056179776,NaN,22,0,224,368,1147,793,0,9573,14030,3
3,B,"Industrie, einschließlich Bergbau und Baugewerbe",III,"Bergbau, Hütten- und Salinenwesen, Torfgräberei",4,"Gewinnung von Stein- und Braunkohlen, Brikettf...","71105 (Miner), 74920 (Coke Burner), 02720 (Eng...",Nein,21110,21110,21110,02720,22000,30000,71105,99910,440.4480198019802,NaN,205,6,1169,2607,17014,7708,1,325246,248358,0
4,B,"Industrie, einschließlich Bergbau und Baugewerbe",III,"Bergbau, Hütten- und Salinenwesen, Torfgräberei",5,"Gewinnung von Graphit, Asphalt, Erdöl und Bern...",71300 (Well Drillers Borers and Related Worker...,"Nein, zu viele Sektoren",21110,21110,21110,02740,22000,30000,71300,99910,13.197916666666666,NaN,18,0,21,26,186,102,0,250,1944,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,B,"Industrie, einschließlich Bergbau und Baugewerbe",XVII,Polygraphische Gewerbe,161,Photographie,"16310 (Fotograf), 927 (Fotoentwicklung)",Ja,21110,21110,21110,NaN,22000,30000,16310,99910,2.691138470892233,NaN,6099,109,285,65,119,106,981,374,8658,135
161,B,"Industrie, einschließlich Bergbau und Baugewerbe",XVIII,Künstlerische Gewerbe,162,Maler und Bildhauer (Künstler),16100 (General),"Ja, Allgemein",21110,21110,21110,NaN,22000,30000,16100,99910,1.494972214871659,NaN,8502,5,109,206,74,68,46,4686,155,65
162,B,"Industrie, einschließlich Bergbau und Baugewerbe",XVIII,Künstlerische Gewerbe,163,"Graveure, Steinschneider, Modelleure","82020 (Stone cutter), 16150 (Artistic Engraver...","Nein, zu viele Sektoren",21110,21110,21110,NaN,22000,30000,82020,99910,4.205984388551604,"Ja, low skill gewählt",1944,3,31,33,268,250,52,11613,619,108
163,B,"Industrie, einschließlich Bergbau und Baugewerbe",XVIII,Künstlerische Gewerbe,164,"Musterzeichner, Kalligraphen",16190,"Ja, Allgemein",21110,21110,21110,NaN,22000,30000,16190,99910,3.6089527027027026,NaN,977,0,13,400,30,82,10,2924,67,368
164,B,"Industrie, einschließlich Bergbau und Baugewerbe",XVIII,Künstlerische Gewerbe,165,Sonstige künstlerische Berufe (mit Ausnahme vo...,16000,"Ja, Allgemein",21110,21110,21110,NaN,22000,30000,16000,99910,5.159831756046267,NaN,650,0,38,448,39,203,34,1533,337,92

In [32]:
# Columns to replace values in
columns_to_replace = ["a1_HISCO", "a2_HISCO", "a3_HISCO", "b1_HISCO", "b2_HISCO", "b3_HISCO", "c2_HISCO", "c3_HISCO"]

# Use the function to replace values in df_agri_rest
df_dist_Ind, not_replaced_positions = replace_values_with_mappings(df_dist_Ind, columns_to_replace, mappings)

# Show the first few rows of the modified DataFrame and the positions where values could not be replaced
df_dist_Ind, not_replaced_positions

(    Letter                                Letter Description  Roman
 0        B  Industrie, einschließlich Bergbau und Baugewerbe    III  \
 1        B  Industrie, einschließlich Bergbau und Baugewerbe    III
 2        B  Industrie, einschließlich Bergbau und Baugewerbe    III
 3        B  Industrie, einschließlich Bergbau und Baugewerbe    III
 4        B  Industrie, einschließlich Bergbau und Baugewerbe    III
 ..     ...                                               ...    ...
 160      B  Industrie, einschließlich Bergbau und Baugewerbe   XVII
 161      B  Industrie, einschließlich Bergbau und Baugewerbe  XVIII
 162      B  Industrie, einschließlich Bergbau und Baugewerbe  XVIII
 163      B  Industrie, einschließlich Bergbau und Baugewerbe  XVIII
 164      B  Industrie, einschließlich Bergbau und Baugewerbe  XVIII

                                    Roman Description Number
 0    Bergbau, Hütten- und Salinenwesen, Torfgräberei      1  \
 1    Bergbau, Hütten- und Salinenwesen, Torfgräberei      2
 2    Bergbau, Hütten- und Salinenwesen, Torfgräberei      3
 3    Bergbau, Hütten- und Salinenwesen, Torfgräberei      4
 4    Bergbau, Hütten- und Salinenwesen, Torfgräberei      5
 ..                                               ...    ...
 160                           Polygraphische Gewerbe    161
 161                            Künstlerische Gewerbe    162
 162                            Künstlerische Gewerbe    163
 163                            Künstlerische Gewerbe    164
 164                            Künstlerische Gewerbe    165

                                     Number Description
 0    Erzgewinnung (Erzbergwerke und Erzgruben), auc...  \
 1          Hüttenbetrieb, auch Frisch- und Streckwerke
 2            Salzgewinnung (Salzbergwerke und Salinen)
 3    Gewinnung von Stein- und Braunkohlen, Brikettf...
 4    Gewinnung von Graphit, Asphalt, Erdöl und Bern...
 ..                                                 ...
 160                                       Photographie
 161                     Maler und Bildhauer (Künstler)
 162               Graveure, Steinschneider, Modelleure
 163                       Musterzeichner, Kalligraphen
 164  Sonstige künstlerische Berufe (mit Ausnahme vo...

                                           HISCO Number
 0    71105 (Miner), 02730 (Metal-Mining Engineer), ...  \
 1    72000 (Metal Processor, Specialisation Unknown...
 2    74470 (Salinen), 02790 (Other Mining Engineers...
 3    71105 (Miner), 74920 (Coke Burner), 02720 (Eng...
 4    71300 (Well Drillers Borers and Related Worker...
 ..                                                 ...
 160            16310 (Fotograf), 927 (Fotoentwicklung)
 161                                    16100 (General)
 162  82020 (Stone cutter), 16150 (Artistic Engraver...
 163                                              16190
 164                                              16000

     Eindeutig_Identifizierbar a1_HISCO a2_HISCO a3_HISCO b1_HISCO b2_HISCO
 0                        Nein        1        1        1        2        3  \
 1                        Nein        1        1        1        2        3
 2                        Nein        1        1        1        2        3
 3                        Nein        1        1        1        2        3
 4     Nein, zu viele Sektoren        1        1        1        2        3
 ..                        ...      ...      ...      ...      ...      ...
 160                        Ja        1        1        1      NaN        3
 161             Ja, Allgemein        1        1        1      NaN        3
 162   Nein, zu viele Sektoren        1        1        1      NaN        3
 163             Ja, Allgemein        1        1        1      NaN        3
 164             Ja, Allgemein        1        1        1      NaN        3

     b3_HISCO c2_HISCO c3_HISCO   Average_Firm_Size
 0          5        9       11  209.86133333333333  \
 1          5        9       11   227.3030634573304
 2          5        9       11  136.85955056179776
 3          5        9       11   440.4480198019802
 4          5        9       11  13.197916666666666
 ..       ...      ...      ...                 ...
 160        5        4       11   2.691138470892233
 161        5        4       11   1.494972214871659
 162        5        9       11   4.205984388551604
 163        5        4       11  3.6089527027027026
 164        5        4       11   5.159831756046267

     Problem mit unterschiedlichen bei c2    a1   a2    a3    b1     b2    b3
 0                                    NaN   136    2   737   708   3126  1263  \
 1                                    NaN   418    6   921  3397   7075  9971
 2                                    NaN    22    0   224   368   1147   793
 3                                    NaN   205    6  1169  2607  17014  7708
 4                                    NaN    18    0    21    26    186   102
 ..                                   ...   ...  ...   ...   ...    ...   ...
 160                                  NaN  6099  109   285    65    119   106
 161                                  NaN  8502    5   109   206     74    68
 162                Ja, low skill gewählt  1944    3    31    33    268   250
 163                                  NaN   977    0    13   400     30    82
 164                                  NaN   650    0    38   448     39   203

       c1      c2      c3  afr
 0      9   42463   33200    0
 1      3   33809  187867    0
 2      0    9573   14030    3
 3      1  325246  248358    0
 4      0     250    1944    0
 ..   ...     ...     ...  ...
 160  981     374    8658  135
 161   46    4686     155   65
 162   52   11613     619  108
 163   10    2924      67  368
 164   34    1533     337   92

 [165 rows x 28 columns],
 [('b1_HISCO', 5),
  ('b1_HISCO', 6),
  ('b1_HISCO', 7),
  ('b1_HISCO', 8),
  ('b1_HISCO', 9),
  ('b1_HISCO', 10),
  ('b1_HISCO', 11),
  ('b1_HISCO', 12),
  ('b1_HISCO', 13),
  ('b1_HISCO', 14),
  ('b1_HISCO', 15),
  ('b1_HISCO', 18),
  ('b1_HISCO', 19),
  ('b1_HISCO', 20),
  ('b1_HISCO', 21),
  ('b1_HISCO', 22),
  ('b1_HISCO', 23),
  ('b1_HISCO', 24),
  ('b1_HISCO', 25),
  ('b1_HISCO', 26),
  ('b1_HISCO', 29),
  ('b1_HISCO', 31),
  ('b1_HISCO', 32),
  ('b1_HISCO', 33),
  ('b1_HISCO', 34),
  ('b1_HISCO', 35),
  ('b1_HISCO', 36),
  ('b1_HISCO', 37),
  ('b1_HISCO', 40),
  ('b1_HISCO', 41),
  ('b1_HISCO', 44),
  ('b1_HISCO', 46),
  ('b1_HISCO', 47),
  ('b1_HISCO', 48),
  ('b1_HISCO', 49),
  ('b1_HISCO', 51),
  ('b1_HISCO', 52),
  ('b1_HISCO', 60),
  ('b1_HISCO', 62),
  ('b1_HISCO', 63),
  ('b1_HISCO', 64),
  ('b1_HISCO', 67),
  ('b1_HISCO', 68),
  ('b1_HISCO', 69),
  ('b1_HISCO', 70),
  ('b1_HISCO', 71),
  ('b1_HISCO', 72),
  ('b1_HISCO', 73),
  ('b1_HISCO', 74),
  ('b1_HISCO', 75),
  ('b1_HISCO', 76),
  ('b1_HISCO', 77),
  ('b1_HISCO', 79),
  ('b1_HISCO', 80),
  ('b1_HISCO', 81),
  ('b1_HISCO', 82),
  ('b1_HISCO', 84),
  ('b1_HISCO', 86),
  ('b1_HISCO', 87),
  ('b1_HISCO', 88),
  ('b1_HISCO', 90),
  ('b1_HISCO', 91),
  ('b1_HISCO', 92),
  ('b1_HISCO', 93),
  ('b1_HISCO', 94),
  ('b1_HISCO', 95),
  ('b1_HISCO', 96),
  ('b1_HISCO', 97),
  ('b1_HISCO', 98),
  ('b1_HISCO', 99),
  ('b1_HISCO', 100),
  ('b1_HISCO', 101),
  ('b1_HISCO', 102),
  ('b1_HISCO', 103),
  ('b1_HISCO', 104),
  ('b1_HISCO', 105),
  ('b1_HISCO', 108),
  ('b1_HISCO', 109),
  ('b1_HISCO', 110),
  ('b1_HISCO', 111),
  ('b1_HISCO', 112),
  ('b1_HISCO', 113),
  ('b1_HISCO', 115),
  ('b1_HISCO', 116),
  ('b1_HISCO', 117),
  ('b1_HISCO', 118),
  ('b1_HISCO', 119),
  ('b1_HISCO', 120),
  ('b1_HISCO', 121),
  ('b1_HISCO', 122),
  ('b1_HISCO', 123),
  ('b1_HISCO', 124),
  ('b1_HISCO', 125),
  ('b1_HISCO', 126),
  ('b1_HISCO', 127),
  ('b1_HISCO', 128),
  ('b1_HISCO', 129),
  ('b1_HISCO', 130),
  ('b1_HISCO', 131),
  ('b1_HISCO', 132),
  ('b1_HISCO', 133),
  ('b1_HISCO', 134),
  ('b1_HISCO', 135),
  ('b1_HISCO', 136),
  ('b1_HISCO', 137),
  ('b1_HISCO', 138),
  ('b1_HISCO', 139),
  ('b1_HISCO', 142),
  ('b1_HISCO', 143),
  ('b1_HISCO', 144),
  ('b1_HISCO', 145),
  ('b1_HISCO', 146),
  ('b1_HISCO', 147),
  ('b1_HISCO', 148),
  ('b1_HISCO', 149),
  ('b1_HISCO', 150),
  ('b1_HISCO', 151),
  ('b1_HISCO', 152),
  ('b1_HISCO', 153),
  ('b1_HISCO', 154),
  ('b1_HISCO', 155),
  ('b1_HISCO', 156),
  ('b1_HISCO', 157),
  ('b1_HISCO', 158),
  ('b1_HISCO', 159),
  ('b1_HISCO', 160),
  ('b1_HISCO', 161),
  ('b1_HISCO', 162),
  ('b1_HISCO', 163),
  ('b1_HISCO', 164)])

In [33]:
# Now map the to skill level
df_dist_Ind, not_replaced_positions = replace_values_with_mappings(df_dist_Ind, columns_to_replace, skill_mappings)
df_dist_Ind

,Letter,Letter Description,Roman,Roman Description,Number,Number Description,HISCO Number,Eindeutig_Identifizierbar,a1_HISCO,a2_HISCO,a3_HISCO,b1_HISCO,b2_HISCO,b3_HISCO,c2_HISCO,c3_HISCO,Average_Firm_Size,Problem mit unterschiedlichen bei c2,a1,a2,a3,b1,b2,b3,c1,c2,c3,afr
0,B,"Industrie, einschließlich Bergbau und Baugewerbe",III,"Bergbau, Hütten- und Salinenwesen, Torfgräberei",1,"Erzgewinnung (Erzbergwerke und Erzgruben), auc...","71105 (Miner), 02730 (Metal-Mining Engineer), ...",Nein,high,high,high,high,medium,low,low,unskilled,209.86133333333333,NaN,136,2,737,708,3126,1263,9,42463,33200,0
1,B,"Industrie, einschließlich Bergbau und Baugewerbe",III,"Bergbau, Hütten- und Salinenwesen, Torfgräberei",2,"Hüttenbetrieb, auch Frisch- und Streckwerke","72000 (Metal Processor, Specialisation Unknown...",Nein,high,high,high,high,medium,low,low,unskilled,227.3030634573304,NaN,418,6,921,3397,7075,9971,3,33809,187867,0
2,B,"Industrie, einschließlich Bergbau und Baugewerbe",III,"Bergbau, Hütten- und Salinenwesen, Torfgräberei",3,Salzgewinnung (Salzbergwerke und Salinen),"74470 (Salinen), 02790 (Other Mining Engineers...",Nein,high,high,high,high,medium,low,low,unskilled,136.85955056179776,NaN,22,0,224,368,1147,793,0,9573,14030,3
3,B,"Industrie, einschließlich Bergbau und Baugewerbe",III,"Bergbau, Hütten- und Salinenwesen, Torfgräberei",4,"Gewinnung von Stein- und Braunkohlen, Brikettf...","71105 (Miner), 74920 (Coke Burner), 02720 (Eng...",Nein,high,high,high,high,medium,low,low,unskilled,440.4480198019802,NaN,205,6,1169,2607,17014,7708,1,325246,248358,0
4,B,"Industrie, einschließlich Bergbau und Baugewerbe",III,"Bergbau, Hütten- und Salinenwesen, Torfgräberei",5,"Gewinnung von Graphit, Asphalt, Erdöl und Bern...",71300 (Well Drillers Borers and Related Worker...,"Nein, zu viele Sektoren",high,high,high,high,medium,low,low,unskilled,13.197916666666666,NaN,18,0,21,26,186,102,0,250,1944,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,B,"Industrie, einschließlich Bergbau und Baugewerbe",XVII,Polygraphische Gewerbe,161,Photographie,"16310 (Fotograf), 927 (Fotoentwicklung)",Ja,high,high,high,NaN,medium,low,medium,unskilled,2.691138470892233,NaN,6099,109,285,65,119,106,981,374,8658,135
161,B,"Industrie, einschließlich Bergbau und Baugewerbe",XVIII,Künstlerische Gewerbe,162,Maler und Bildhauer (Künstler),16100 (General),"Ja, Allgemein",high,high,high,NaN,medium,low,medium,unskilled,1.494972214871659,NaN,8502,5,109,206,74,68,46,4686,155,65
162,B,"Industrie, einschließlich Bergbau und Baugewerbe",XVIII,Künstlerische Gewerbe,163,"Graveure, Steinschneider, Modelleure","82020 (Stone cutter), 16150 (Artistic Engraver...","Nein, zu viele Sektoren",high,high,high,NaN,medium,low,low,unskilled,4.205984388551604,"Ja, low skill gewählt",1944,3,31,33,268,250,52,11613,619,108
163,B,"Industrie, einschließlich Bergbau und Baugewerbe",XVIII,Künstlerische Gewerbe,164,"Musterzeichner, Kalligraphen",16190,"Ja, Allgemein",high,high,high,NaN,medium,low,medium,unskilled,3.6089527027027026,NaN,977,0,13,400,30,82,10,2924,67,368
164,B,"Industrie, einschließlich Bergbau und Baugewerbe",XVIII,Künstlerische Gewerbe,165,Sonstige künstlerische Berufe (mit Ausnahme vo...,16000,"Ja, Allgemein",high,high,high,NaN,medium,low,medium,unskilled,5.159831756046267,NaN,650,0,38,448,39,203,34,1533,337,92

In [34]:
cols_to_check = ["a1", "a2", "a3", "b1", "b2", "b3", "c1", "c2", "c3", "afr", "Average_Firm_Size"]
print(df_dist_Ind[cols_to_check].dtypes)
print(df_Ind["d_Hauptberuf"].dtypes)

# Convert to floats
df_dist_Ind[cols_to_check] = df_dist_Ind[cols_to_check].apply(pd.to_numeric, errors="coerce")

# Convert 'd_Hauptberuf' column in df_Ind to float
df_Ind["d_Hauptberuf"] = pd.to_numeric(df_Ind["d_Hauptberuf"], errors="coerce")

# Check the data types after conversion
dist_Ind_dtypes = df_dist_Ind[cols_to_check].dtypes
Ind_dtype = df_Ind["d_Hauptberuf"].dtype
print(dist_Ind_dtypes)
print(Ind_dtype)

a1                   object
a2                   object
a3                   object
b1                   object
b2                   object
b3                   object
c1                   object
c2                   object
c3                   object
afr                  object
Average_Firm_Size    object
dtype: object
float64
a1                     int64
a2                     int64
a3                     int64
b1                     int64
b2                     int64
b3                     int64
c1                     int64
c2                     int64
c3                     int64
afr                    int64
Average_Firm_Size    float64
dtype: object
float64

In [35]:
df_dist_Ind["c3"] = df_dist_Ind["c3"] + df_dist_Ind["afr"]

# Define the columns
status_cols = ["a1", "a2", "a3", "b1", "b2", "b3", "c1", "c2", "c3"]
cols_to_consider = ["a1", "a2", "a3", "b1", "b2", "b3", "c2", "c3"]

df_Ind.loc[:, "i_Ziffer"] = df_Ind["i_Ziffer"].astype(str)
df_dist_Ind_finished, df_Ind = SkillCalculator(df_dist_Ind, df_Ind, status_cols, cols_to_consider)
df_Ind

Row 4: Calculated Handwerker as 0.23674911660777387 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 4: Calculated No_Handwerker as 0.7632508833922261 using columns ['c1_per', 'c3_per']
Row 5: Calculated Handwerker as 0.2150492264416315 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 5: Calculated No_Handwerker as 0.7849507735583685 using columns ['c1_per', 'c3_per']
Row 6: Calculated Handwerker as 0.9245564991121191 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 6: Calculated No_Handwerker as 0.07544350088788088 using columns ['c1_per', 'c3_per']
Row 7: Calculated Handwerker as 0.2545432460967793 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 7: Calculated No_Handwerker as 0.7454567539032206 using columns ['c1_per', 'c3_per']
Row 8: Calculated Handwerker as 0.6762901479610249 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 8: Calculated No_Handwerker as 0.3237098520389751 using columns ['c1_per', 'c3_per']
Row 9: Calculated Handwerker as 0.11724544841537424 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 9: Calculated No_Handwerker as 0.8827545515846258 using columns ['c1_per', 'c3_per']
Row 10: Calculated Handwerker as 0.1494441078709086 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 10: Calculated No_Handwerker as 0.8505558921290913 using columns ['c1_per', 'c3_per']
Row 11: Calculated Handwerker as 0.2585685919019252 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 11: Calculated No_Handwerker as 0.7414314080980747 using columns ['c1_per', 'c3_per']
Row 12: Calculated Handwerker as 0.3036558462023322 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 12: Calculated No_Handwerker as 0.6963441537976678 using columns ['c1_per', 'c3_per']
Row 13: Calculated Handwerker as 0.09363936027347088 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 13: Calculated No_Handwerker as 0.9063606397265291 using columns ['c1_per', 'c3_per']
Row 14: Calculated Handwerker as 0.14386858009641273 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 14: Calculated No_Handwerker as 0.8561314199035873 using columns ['c1_per', 'c3_per']
Row 15: Calculated Handwerker as 0.61039934800326 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 15: Calculated No_Handwerker as 0.38960065199674 using columns ['c1_per', 'c3_per']
Row 16: Calculated Handwerker as 0.3738085370907584 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 16: Calculated No_Handwerker as 0.6261914629092415 using columns ['c1_per', 'c3_per']
Row 17: Calculated Handwerker as 0.5324535898009394 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 17: Calculated No_Handwerker as 0.4675464101990606 using columns ['c1_per', 'c3_per']
Row 18: Calculated Handwerker as 0.5860018406210916 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 18: Calculated No_Handwerker as 0.4139981593789084 using columns ['c1_per', 'c3_per']
Row 19: Calculated Handwerker as 0.3704145541306293 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 19: Calculated No_Handwerker as 0.6295854458693707 using columns ['c1_per', 'c3_per']
Row 20: Calculated Handwerker as 0.8331470453504352 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 20: Calculated No_Handwerker as 0.16685295464956482 using columns ['c1_per', 'c3_per']
Row 21: Calculated Handwerker as 0.893760996075247 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 21: Calculated No_Handwerker as 0.10623900392475301 using columns ['c1_per', 'c3_per']
Row 22: Calculated Handwerker as 0.8636788048552755 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 22: Calculated No_Handwerker as 0.13632119514472454 using columns ['c1_per', 'c3_per']
Row 23: Calculated Handwerker as 0.7484143763213531 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 23: Calculated No_Handwerker as 0.25158562367864695 using columns ['c1_per', 'c3_per']
Row 24: Calculated Handwerker as 0.44596762432550674 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 24: Calculated No_Handwerker as 0.5540323756744931 using columns ['c1_per', 'c3_per']
Row 25: Calculated Handwerker as 0.42844120328167734 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 25: Calculated No_Handwerker as 0.5715587967183228 using columns ['c1_per', 'c3_per']
Row 26: Calculated Handwerker as 0.5433468381506558 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 26: Calculated No_Handwerker as 0.45665316184934424 using columns ['c1_per', 'c3_per']
Row 29: Calculated Handwerker as 0.9666311599484219 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 29: Calculated No_Handwerker as 0.03336884005157818 using columns ['c1_per', 'c3_per']
Row 30: Calculated Handwerker as 0.36699338956006383 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 30: Calculated No_Handwerker as 0.6330066104399362 using columns ['c1_per', 'c3_per']
Row 31: Calculated Handwerker as 0.40463904738278345 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 31: Calculated No_Handwerker as 0.5953609526172166 using columns ['c1_per', 'c3_per']
Row 32: Calculated Handwerker as 0.9710768318006526 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 32: Calculated No_Handwerker as 0.028923168199347375 using columns ['c1_per', 'c3_per']
Row 33: Calculated Handwerker as 0.9603617933806436 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 33: Calculated No_Handwerker as 0.03963820661935632 using columns ['c1_per', 'c3_per']
Row 34: Calculated Handwerker as 0.7639939485627837 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 34: Calculated No_Handwerker as 0.23600605143721634 using columns ['c1_per', 'c3_per']
Row 35: Calculated Handwerker as 0.5937993057746924 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 35: Calculated No_Handwerker as 0.4062006942253077 using columns ['c1_per', 'c3_per']
Row 36: Calculated Handwerker as 0.4833249692047995 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 36: Calculated No_Handwerker as 0.5166750307952005 using columns ['c1_per', 'c3_per']
Row 37: Calculated Handwerker as 0.575602509078904 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 37: Calculated No_Handwerker as 0.4243974909210961 using columns ['c1_per', 'c3_per']
Row 39: Calculated Handwerker as 0.6921107660301024 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 39: Calculated No_Handwerker as 0.30788923396989765 using columns ['c1_per', 'c3_per']
Row 40: Calculated Handwerker as 0.8032315978456014 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 40: Calculated No_Handwerker as 0.19676840215439856 using columns ['c1_per', 'c3_per']
Row 41: Calculated Handwerker as 0.881251048442713 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 41: Calculated No_Handwerker as 0.11874895155728692 using columns ['c1_per', 'c3_per']
Row 42: Calculated Handwerker as 0.6680477934091347 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 42: Calculated No_Handwerker as 0.3319522065908653 using columns ['c1_per', 'c3_per']
Row 43: Calculated Handwerker as 0.4936544656562818 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 43: Calculated No_Handwerker as 0.5063455343437182 using columns ['c1_per', 'c3_per']
Row 44: Calculated Handwerker as 0.9401007156109197 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 44: Calculated No_Handwerker as 0.05989928438908031 using columns ['c1_per', 'c3_per']

Row 46: Calculated Handwerker as 0.8794152585517225 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 46: Calculated No_Handwerker as 0.12058474144827754 using columns ['c1_per', 'c3_per']
Row 47: Calculated Handwerker as 0.7253325450783328 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 47: Calculated No_Handwerker as 0.27466745492166716 using columns ['c1_per', 'c3_per']
Row 48: Calculated Handwerker as 0.7711332112012562 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 48: Calculated No_Handwerker as 0.22886678879874378 using columns ['c1_per', 'c3_per']
Row 49: Calculated Handwerker as 0.8384776690456919 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 49: Calculated No_Handwerker as 0.16152233095430799 using columns ['c1_per', 'c3_per']
Row 51: Calculated Handwerker as 0.24712230215827335 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 51: Calculated No_Handwerker as 0.7528776978417266 using columns ['c1_per', 'c3_per']
Row 52: Calculated Handwerker as 0.5738575628006414 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 52: Calculated No_Handwerker as 0.4261424371993586 using columns ['c1_per', 'c3_per']
Row 54: Calculated Handwerker as 0.2714326513656662 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 54: Calculated No_Handwerker as 0.7285673486343337 using columns ['c1_per', 'c3_per']
Row 58: Calculated Handwerker as 0.1132485262178095 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 58: Calculated No_Handwerker as 0.8867514737821905 using columns ['c1_per', 'c3_per']
Row 59: Calculated Handwerker as 0.19479333181091574 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 59: Calculated No_Handwerker as 0.8052066681890843 using columns ['c1_per', 'c3_per']
Row 60: Calculated Handwerker as 0.3668954996186118 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 60: Calculated No_Handwerker as 0.6331045003813882 using columns ['c1_per', 'c3_per']
Row 61: Calculated Handwerker as 0.24249916063852517 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 61: Calculated No_Handwerker as 0.7575008393614748 using columns ['c1_per', 'c3_per']
Row 62: Calculated Handwerker as 0.3742483588017874 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 62: Calculated No_Handwerker as 0.6257516411982126 using columns ['c1_per', 'c3_per']
Row 63: Calculated Handwerker as 0.2613491234180889 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 63: Calculated No_Handwerker as 0.7386508765819111 using columns ['c1_per', 'c3_per']
Row 64: Calculated Handwerker as 0.3920272435897436 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 64: Calculated No_Handwerker as 0.6079727564102564 using columns ['c1_per', 'c3_per']
Row 65: Calculated Handwerker as 0.11993020385581138 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 65: Calculated No_Handwerker as 0.8800697961441887 using columns ['c1_per', 'c3_per']
Row 67: Calculated Handwerker as 0.5746430389974372 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 67: Calculated No_Handwerker as 0.4253569610025628 using columns ['c1_per', 'c3_per']
Row 68: Calculated Handwerker as 0.025527456303281425 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 68: Calculated No_Handwerker as 0.9744725436967185 using columns ['c1_per', 'c3_per']
Row 69: Calculated Handwerker as 0.6618909449909101 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 69: Calculated No_Handwerker as 0.3381090550090899 using columns ['c1_per', 'c3_per']
Row 70: Calculated Handwerker as 0.501115760111576 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 70: Calculated No_Handwerker as 0.49888423988842395 using columns ['c1_per', 'c3_per']
Row 71: Calculated Handwerker as 0.3581351332047711 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 71: Calculated No_Handwerker as 0.6418648667952289 using columns ['c1_per', 'c3_per']
Row 72: Calculated Handwerker as 0.3305436483636116 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 72: Calculated No_Handwerker as 0.6694563516363884 using columns ['c1_per', 'c3_per']
Row 73: Calculated Handwerker as 0.5143967001721997 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 73: Calculated No_Handwerker as 0.48560329982780026 using columns ['c1_per', 'c3_per']
Row 74: Calculated Handwerker as 0.45717410947828985 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 74: Calculated No_Handwerker as 0.5428258905217103 using columns ['c1_per', 'c3_per']
Row 75: Calculated Handwerker as 0.41487240829346095 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 75: Calculated No_Handwerker as 0.585127591706539 using columns ['c1_per', 'c3_per']
Row 76: Calculated Handwerker as 0.32893460120318263 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 76: Calculated No_Handwerker as 0.6710653987968174 using columns ['c1_per', 'c3_per']
Row 77: Calculated Handwerker as 0.22006745362563238 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 77: Calculated No_Handwerker as 0.7799325463743676 using columns ['c1_per', 'c3_per']
Row 78: Calculated Handwerker as 0.1790026772542663 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 78: Calculated No_Handwerker as 0.8209973227457337 using columns ['c1_per', 'c3_per']
Row 79: Calculated Handwerker as 0.49459840300610614 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 79: Calculated No_Handwerker as 0.5054015969938939 using columns ['c1_per', 'c3_per']
Row 80: Calculated Handwerker as 0.5638783394805678 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 80: Calculated No_Handwerker as 0.4361216605194322 using columns ['c1_per', 'c3_per']
Row 81: Calculated Handwerker as 0.08301051466519094 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 81: Calculated No_Handwerker as 0.9169894853348091 using columns ['c1_per', 'c3_per']
Row 82: Calculated Handwerker as 0.4645689950955659 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 82: Calculated No_Handwerker as 0.5354310049044342 using columns ['c1_per', 'c3_per']
Row 84: Calculated Handwerker as 0.5967741935483871 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 84: Calculated No_Handwerker as 0.40322580645161293 using columns ['c1_per', 'c3_per']
Row 85: Calculated Handwerker as 0.2501808972503618 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 85: Calculated No_Handwerker as 0.7498191027496383 using columns ['c1_per', 'c3_per']
Row 86: Calculated Handwerker as 0.9153027076361424 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 86: Calculated No_Handwerker as 0.08469729236385762 using columns ['c1_per', 'c3_per']
Row 87: Calculated Handwerker as 0.17479088549177962 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 87: Calculated No_Handwerker as 0.8252091145082203 using columns ['c1_per', 'c3_per']
Row 88: Calculated Handwerker as 0.9423722821283367 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 88: Calculated No_Handwerker as 0.05762771787166343 using columns ['c1_per', 'c3_per']
Row 90: Calculated Handwerker as 0.31275720164609055 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 90: Calculated No_Handwerker as 0.6872427983539094 using columns ['c1_per', 'c3_per']
Row 91: Calculated Handwerker as 0.12225705329153605 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 91: Calculated No_Handwerker as 0.877742946708464 using columns ['c1_per', 'c3_per']
Row 92: Calculated Handwerker as 0.2585041300673665 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 92: Calculated No_Handwerker as 0.7414958699326335 using columns ['c1_per', 'c3_per']

Row 93: Calculated Handwerker as 0.611097921567781 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 93: Calculated No_Handwerker as 0.3889020784322189 using columns ['c1_per', 'c3_per']
Row 94: Calculated Handwerker as 0.9392816753110012 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 94: Calculated No_Handwerker as 0.060718324688998945 using columns ['c1_per', 'c3_per']
Row 95: Calculated Handwerker as 0.899108138238573 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 95: Calculated No_Handwerker as 0.10089186176142698 using columns ['c1_per', 'c3_per']
Row 96: Calculated Handwerker as 0.8189169543885154 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 96: Calculated No_Handwerker as 0.18108304561148464 using columns ['c1_per', 'c3_per']
Row 97: Calculated Handwerker as 0.25724335832639084 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 97: Calculated No_Handwerker as 0.7427566416736091 using columns ['c1_per', 'c3_per']
Row 98: Calculated Handwerker as 0.3537873965626989 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 98: Calculated No_Handwerker as 0.646212603437301 using columns ['c1_per', 'c3_per']
Row 99: Calculated Handwerker as 0.8056699529930529 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 99: Calculated No_Handwerker as 0.19433004700694706 using columns ['c1_per', 'c3_per']
Row 100: Calculated Handwerker as 0.41827386692381874 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 100: Calculated No_Handwerker as 0.5817261330761813 using columns ['c1_per', 'c3_per']
Row 101: Calculated Handwerker as 0.41757355904877064 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 101: Calculated No_Handwerker as 0.5824264409512293 using columns ['c1_per', 'c3_per']
Row 102: Calculated Handwerker as 0.6789967596683921 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 102: Calculated No_Handwerker as 0.32100324033160793 using columns ['c1_per', 'c3_per']
Row 103: Calculated Handwerker as 0.5095616855643933 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 103: Calculated No_Handwerker as 0.4904383144356067 using columns ['c1_per', 'c3_per']
Row 104: Calculated Handwerker as 0.7550752886730727 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 104: Calculated No_Handwerker as 0.24492471132692725 using columns ['c1_per', 'c3_per']
Row 105: Calculated Handwerker as 0.8104053789011743 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 105: Calculated No_Handwerker as 0.1895946210988257 using columns ['c1_per', 'c3_per']
Row 107: Calculated Handwerker as 0.3453947368421053 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 107: Calculated No_Handwerker as 0.6546052631578948 using columns ['c1_per', 'c3_per']
Row 108: Calculated Handwerker as 0.23468987908643082 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 108: Calculated No_Handwerker as 0.7653101209135692 using columns ['c1_per', 'c3_per']
Row 109: Calculated Handwerker as 0.817884460090915 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 109: Calculated No_Handwerker as 0.18211553990908513 using columns ['c1_per', 'c3_per']
Row 110: Calculated Handwerker as 0.3180653427290199 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 110: Calculated No_Handwerker as 0.6819346572709801 using columns ['c1_per', 'c3_per']
Row 111: Calculated Handwerker as 0.6309685193553246 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 111: Calculated No_Handwerker as 0.3690314806446754 using columns ['c1_per', 'c3_per']
Row 112: Calculated Handwerker as 0.22879958336949918 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 112: Calculated No_Handwerker as 0.7712004166305008 using columns ['c1_per', 'c3_per']
Row 113: Calculated Handwerker as 0.41533546325878595 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 113: Calculated No_Handwerker as 0.5846645367412141 using columns ['c1_per', 'c3_per']
Row 115: Calculated Handwerker as 0.41330053921104914 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 115: Calculated No_Handwerker as 0.586699460788951 using columns ['c1_per', 'c3_per']
Row 116: Calculated Handwerker as 0.42354085603112845 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 116: Calculated No_Handwerker as 0.5764591439688715 using columns ['c1_per', 'c3_per']
Row 117: Calculated Handwerker as 0.49133845173092383 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 117: Calculated No_Handwerker as 0.5086615482690763 using columns ['c1_per', 'c3_per']
Row 118: Calculated Handwerker as 0.6281050955414014 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 118: Calculated No_Handwerker as 0.3718949044585987 using columns ['c1_per', 'c3_per']
Row 119: Calculated Handwerker as 0.7095616229740019 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 119: Calculated No_Handwerker as 0.29043837702599806 using columns ['c1_per', 'c3_per']
Row 120: Calculated Handwerker as 0.507950150408251 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 120: Calculated No_Handwerker as 0.492049849591749 using columns ['c1_per', 'c3_per']
Row 121: Calculated Handwerker as 0.6979686111303294 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 121: Calculated No_Handwerker as 0.30203138886967074 using columns ['c1_per', 'c3_per']
Row 122: Calculated Handwerker as 0.8752981471940771 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 122: Calculated No_Handwerker as 0.12470185280592287 using columns ['c1_per', 'c3_per']
Row 123: Calculated Handwerker as 0.9162415213682327 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 123: Calculated No_Handwerker as 0.0837584786317673 using columns ['c1_per', 'c3_per']
Row 124: Calculated Handwerker as 0.29648811799738145 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 124: Calculated No_Handwerker as 0.7035118820026185 using columns ['c1_per', 'c3_per']
Row 125: Calculated Handwerker as 0.8117643316154483 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 125: Calculated No_Handwerker as 0.18823566838455175 using columns ['c1_per', 'c3_per']
Row 126: Calculated Handwerker as 0.44024993491278314 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 126: Calculated No_Handwerker as 0.5597500650872169 using columns ['c1_per', 'c3_per']
Row 127: Calculated Handwerker as 0.5565703022339028 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 127: Calculated No_Handwerker as 0.44342969776609725 using columns ['c1_per', 'c3_per']
Row 128: Calculated Handwerker as 0.5229969337421677 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 128: Calculated No_Handwerker as 0.4770030662578323 using columns ['c1_per', 'c3_per']
Row 129: Calculated Handwerker as 0.7627836611195159 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 129: Calculated No_Handwerker as 0.23721633888048413 using columns ['c1_per', 'c3_per']
Row 130: Calculated Handwerker as 0.5120639604054633 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 130: Calculated No_Handwerker as 0.48793603959453674 using columns ['c1_per', 'c3_per']
Row 131: Calculated Handwerker as 0.26658374792703154 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 131: Calculated No_Handwerker as 0.7334162520729685 using columns ['c1_per', 'c3_per']

Row 132: Calculated Handwerker as 0.3069556451612903 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 132: Calculated No_Handwerker as 0.6930443548387097 using columns ['c1_per', 'c3_per']
Row 133: Calculated Handwerker as 0.9067487865290844 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 133: Calculated No_Handwerker as 0.09325121347091557 using columns ['c1_per', 'c3_per']
Row 134: Calculated Handwerker as 0.8606094912863532 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 134: Calculated No_Handwerker as 0.13939050871364675 using columns ['c1_per', 'c3_per']
Row 135: Calculated Handwerker as 0.43668711656441717 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 135: Calculated No_Handwerker as 0.5633128834355828 using columns ['c1_per', 'c3_per']
Row 136: Calculated Handwerker as 0.592513882674948 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 136: Calculated No_Handwerker as 0.40748611732505197 using columns ['c1_per', 'c3_per']
Row 137: Calculated Handwerker as 0.4414502014168635 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 137: Calculated No_Handwerker as 0.5585497985831366 using columns ['c1_per', 'c3_per']
Row 138: Calculated Handwerker as 0.8732558139534883 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 138: Calculated No_Handwerker as 0.12674418604651164 using columns ['c1_per', 'c3_per']
Row 139: Calculated Handwerker as 0.38130506959519855 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 139: Calculated No_Handwerker as 0.6186949304048014 using columns ['c1_per', 'c3_per']
Row 140: Calculated Handwerker as 0.20468928513748735 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 140: Calculated No_Handwerker as 0.7953107148625127 using columns ['c1_per', 'c3_per']
Row 142: Calculated Handwerker as 0.9134748079245233 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 142: Calculated No_Handwerker as 0.08652519207547671 using columns ['c1_per', 'c3_per']
Row 143: Calculated Handwerker as 0.9628609162947445 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 143: Calculated No_Handwerker as 0.03713908370525549 using columns ['c1_per', 'c3_per']
Row 144: Calculated Handwerker as 0.9653890911821015 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 144: Calculated No_Handwerker as 0.03461090881789857 using columns ['c1_per', 'c3_per']
Row 145: Calculated Handwerker as 0.9735237467940081 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 145: Calculated No_Handwerker as 0.026476253205991836 using columns ['c1_per', 'c3_per']
Row 146: Calculated Handwerker as 0.696969696969697 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 146: Calculated No_Handwerker as 0.303030303030303 using columns ['c1_per', 'c3_per']
Row 147: Calculated Handwerker as 0.9434843877475338 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 147: Calculated No_Handwerker as 0.05651561225246607 using columns ['c1_per', 'c3_per']
Row 148: Calculated Handwerker as 0.8986685152869744 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 148: Calculated No_Handwerker as 0.1013314847130256 using columns ['c1_per', 'c3_per']
Row 149: Calculated Handwerker as 0.6663937434710183 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 149: Calculated No_Handwerker as 0.33360625652898157 using columns ['c1_per', 'c3_per']
Row 150: Calculated Handwerker as 0.6050867846709056 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 150: Calculated No_Handwerker as 0.39491321532909435 using columns ['c1_per', 'c3_per']
Row 151: Calculated Handwerker as 0.737232755143203 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 151: Calculated No_Handwerker as 0.2627672448567971 using columns ['c1_per', 'c3_per']
Row 152: Calculated Handwerker as 0.9321940715627434 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 152: Calculated No_Handwerker as 0.06780592843725661 using columns ['c1_per', 'c3_per']
Row 153: Calculated Handwerker as 0.9953163926258097 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 153: Calculated No_Handwerker as 0.0046836073741903335 using columns ['c1_per', 'c3_per']
Row 154: Calculated Handwerker as 0.808277027027027 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 154: Calculated No_Handwerker as 0.19172297297297297 using columns ['c1_per', 'c3_per']
Row 155: Calculated Handwerker as 0.8934169278996865 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 155: Calculated No_Handwerker as 0.10658307210031348 using columns ['c1_per', 'c3_per']
Row 156: Calculated Handwerker as 0.7618455406386628 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 156: Calculated No_Handwerker as 0.23815445936133728 using columns ['c1_per', 'c3_per']
Row 157: Calculated Handwerker as 0.7910145253912848 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 157: Calculated No_Handwerker as 0.20898547460871525 using columns ['c1_per', 'c3_per']
Row 158: Calculated Handwerker as 0.8265139116202946 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 158: Calculated No_Handwerker as 0.1734860883797054 using columns ['c1_per', 'c3_per']
Row 159: Calculated Handwerker as 0.37958755679832223 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 159: Calculated No_Handwerker as 0.6204124432016778 using columns ['c1_per', 'c3_per']
Row 160: Calculated Handwerker as 0.4227157285452719 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 160: Calculated No_Handwerker as 0.577284271454728 using columns ['c1_per', 'c3_per']
Row 161: Calculated Handwerker as 0.9808853118712273 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 161: Calculated No_Handwerker as 0.019114688128772636 using columns ['c1_per', 'c3_per']
Row 162: Calculated Handwerker as 0.9477917029689699 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 162: Calculated No_Handwerker as 0.052208297031030096 using columns ['c1_per', 'c3_per']
Row 163: Calculated Handwerker as 0.9086429891192773 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 163: Calculated No_Handwerker as 0.09135701088072265 using columns ['c1_per', 'c3_per']
Row 164: Calculated Handwerker as 0.8627741553052757 using columns ['a1_per', 'a2_per', 'a3_per', 'b1_per', 'b2_per', 'b3_per', 'c2_per']
Row 164: Calculated No_Handwerker as 0.13722584469472435 using columns ['c1_per', 'c3_per']

,id_inequality,i_Grossbuchstabe,i_Ziffer,d_Hauptberuf_m,d_Hauptberuf_w,d_Hauptberuf,rb_id,high,medium,low,unskilled,intermediate
5,1.0,B,1,2.0,0.0,2.0,17.0,0.038778,0.076576,1.071138,0.813507,0
6,1.0,B,6,3.0,0.0,3.0,17.0,0,0,0,3.0,0
7,1.0,B,7,1.0,0.0,1.0,17.0,0,0.924556,0,0.075444,0
8,1.0,B,8,9.0,0.0,9.0,17.0,0,0,2.290889,6.709111,0
9,1.0,B,9,1.0,0.0,1.0,17.0,0,0,0.67629,0.32371,0
...,...,...,...,...,...,...,...,...,...,...,...,...
80859,702.0,B,152,1.0,0.0,1.0,31.0,0,0.737233,0,0.262767,0
80860,702.0,B,153,4.0,0.0,4.0,31.0,0,3.728776,0,0.271224,0
80861,702.0,B,154,3.0,0.0,3.0,31.0,0,0,0,3.0,0
80862,702.0,B,157,6.0,0.0,6.0,31.0,0,4.571073,0,1.428927,0
80863,702.0,B,162,3.0,0.0,3.0,31.0,0,2.942656,0,0.057344,0

# Services

In [36]:
# Filter the data so we only have the people working in services

df_Serv_C = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"].isin(["C", "D"])]

# Drop people in the industrial sector that couldn't be assigned

df_Serv_C = df_Serv_C[~df_Serv_C["i_Ziffer"].isin([12, 13])]

# Display the final filtered DataFrame

df_Serv_E = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"].isin(["E"])]

# Drop people in the industrial sector that couldn't be assigned

df_Serv_E = df_Serv_E[~df_Serv_E["i_Ziffer"].isin([1, 2, 3, 4, 5, 8])]

# Merge both DataFrames

df_Ser = pd.concat([df_Serv_C, df_Serv_E], ignore_index=True)

# Let's have a look

df_Ser[:-40]

,id_inequality,i_Grossbuchstabe,i_Ziffer,d_Hauptberuf_m,d_Hauptberuf_w,d_Hauptberuf,rb_id,high,medium,low,unskilled,intermediate
0,1.0,C,1,1726.0,583.0,2309.0,17.0,,,,,0
1,1.0,C,2,29.0,1.0,30.0,17.0,,,,,0
2,1.0,C,3,7.0,11.0,18.0,17.0,,,,,0
3,1.0,C,4,0.0,2.0,2.0,17.0,,,,,0
4,1.0,C,5,4.0,0.0,4.0,17.0,,,,,0
...,...,...,...,...,...,...,...,...,...,...,...,...
13026,670.0,E,6,36.0,0.0,36.0,16.0,,,,,0
13027,670.0,E,7,25.0,4.0,29.0,16.0,,,,,0
13028,671.0,E,6,7.0,2.0,9.0,16.0,,,,,0
13029,671.0,E,7,2.0,0.0,2.0,16.0,,,,,0
13030,673.0,E,7,1.0,0.0,1.0,35.0,,,,,0

In [37]:
# Load the data to classify df_Ind
df_dist_Ser = pd.read_excel(f"{classification_path}\Services.xlsx", dtype=str)
df_dist_Ser

,Letter,Letter Description,Roman,Roman Description,Number,Number Description,HISCO Number,Eindeutig_Identifizierbar,a1_HISCO,a2_HISCO,a3_HISCO,b_HISCO,c2_HISCO,c3_HISCO,Average_Firm_Size,Probleme mit unterschiedlichen skill leveln,a1,a2,a3,b,c1,c2,c3
0,C,"Handel und Verkehr, einschließlich Gast- und S...",XX,Handelsgewerbe,1,Waren- und Produktenhandel im stehenden Geschä...,41025 (Groß und Kleinhandel),"Ja, Allgemein",41025,41025,41025,22000,45125,99900,2.430095413201059,NaN,530963,4501,21806,186091,130363,392058,189060
1,C,Handel und Verkehr,XX,Handelsgewerbe,2,Geld- und Kredithandel,"33940 (Bankkaufmann), 33140 (Bankangestellter)...",Sonderfall,33940,33940,33940,22000,33140,99900,6.783827384553337,NaN,4078,1,4146,48996,62,1783,7272
2,C,Handel und Verkehr,XX,Handelsgewerbe,3,"Buch-, Kunst- und Musikalienhandel, einschließ...",41030 (Bookseller). Jeder Verlag hat auch eine...,"Nein, nur einer auffindbar",41030,41030,41030,41030,45125,99900,3.690452176836443,NaN,9559,16,709,11622,851,8934,6219
3,C,Handel und Verkehr,XX,Handelsgewerbe,4,Zeitungsverlag und -spedition (auch -expedition),"15900 (General), 21110 (Publisher)",Sonderfall,21110,21110,21110,22000,45125,99900,9.293066780093577,NaN,1178,28,470,3983,99,611,10931
4,C,Handel und Verkehr,XX,Handelsgewerbe,5,Hausirhandel (einschließlich Straßenhandel),"45220 (Street Vendor), 45230 (Canvasser), 4529...",Ja,45220,45220,45220,45220,45220,45220,1.157173273366666,NaN,33355,2,5,20,2375,674,507
5,C,Handel und Verkehr,XX,Handelsgewerbe,6,Handelsvermittlung (Makler [ausgenommen Schiff...,"44100, 44000 (mit Business Services)","Ja, Allgemein",44000,44000,44000,22000,45125,99900,1.6553043554311702,NaN,33280,18,9155,10154,517,1333,1428
6,C,Handel und Verkehr,XX,Handelsgewerbe,7,"Hilfsgewerbe des Handels (Stauer, Schauerleute...","99900 (Worker General), 99910 (Labourer)","Ja, Allgemein",99900,99900,99900,99900,99900,99900,8.198835784313726,NaN,2141,27,110,2159,39,377,42893
7,C,Handel und Verkehr,XX,Handelsgewerbe,8,"Versteigerung, Verleihung, Aufbewahrung","44320 (Auctioneer), 49020 (Pawnbroker)","Nein, zu viele Sektoren",49020,49020,49020,22000,45125,99900,4.0503125,Ja,4095,83,264,1394,290,331,4367
8,C,Handel und Verkehr,XX,Handelsgewerbe,9,Stellenvermittlung,"19420, 19430, 19440, 19490",Ja,19420,19420,19420,22000,45125,99900,1.2785633024540874,NaN,5536,2,132,499,192,57,76
9,C,Handel und Verkehr,XX,Handelsgewerbe,10,"Annoncen-Vermittlung, Auskunftsbüros",44230 (Advertising Salesman),Ja,44320,44320,44320,22000,45125,99900,4.345063985374772,NaN,1232,5,341,3468,34,227,326
10,C,Handel und Verkehr,XXI,Versicherungsgewerbe,11,Versicherungsgewerbe,"08250 (Actuary), 44120 (Insurance Salesman)",Nein,44120,44120,44120,22000,45125,99900,2.885261661929443,Actuary teil von b,1079,0,12594,42925,145,506,3282
11,C,Handel und Verkehr,XXII,Verkehrsgewerbe,14,Posthalterei und Personenfuhrwerk,"22220 (Posthalter), 98620 (Kutscher)",Nein,22220,22220,22220,22000,98620,99900,2.470059027071036,NaN,21106,128,344,802,1752,15270,31201
12,C,Handel und Verkehr,XXII,Verkehrsgewerbe,15,Straßenbahntrieb,"98520 (Straßenbahnwagenführer), 36040 (Straßen...",Sonderfall,22650,22650,22650,22000,98520,99900,191.82213438735178,NaN,22,1,280,2964,0,21354,17695
13,C,Handel und Verkehr,XXII,Verkehrsgewerbe,16,Spedition und Güterbeförderung,"39120 (Spediteur), 98420 (Railway Brakeman Fre...",Ja,39120,39120,39120,22000,45125,99900,7.673940305994482,NaN,6888,18,530,11816,577,2777,29698
14,C,Handel und Verkehr,XXII,Verkehrsgewerbe,17,Frachtfuhrwerk,98620 /Animal-Drawn Vehicle Driver),NaN,98620,98620,98620,98620,98620,99900,2.343885384206126,NaN,17691,94,210,478,1988,1290,33816
15,C,Handel und Verkehr,XXII,Verkehrsgewerbe,18,Reederei und Schiffsbefrachtung,97120 (Docker),Ja,97120,97120,97120,97120,97120,97120,1,NaN,1910,11,316,4882,10,133,1523
16,C,Handel und Verkehr,XXII,Verkehrsgewerbe,19,See- und Küstenschifffahrt,04200 (Ships' Deck Officer or Pilot Specialisa...,Nein,04200,04200,04200,98220,98100,98100,32.19253333333333,NaN,981,10,969,4761,53,9813,8346
17,C,Handel und Verkehr,XXII,Verkehrsgewerbe,20,Binnenschifffahrt,04200 (Ships' Deck Officer or Pilot Specialisa...,Nein,04200,04200,04200,98220,98100,98100,3.9562667969704375,NaN,10509,360,1598,6537,1051,22631,11080
18,C,Handel und Verkehr,XXII,Verkehrsgewerbe,21,"Hafen- und Lotsendienst, Küstenbewachungs- und...","98930 (Schleusenwächter), 98940 (Lighthouse-Ma...",Nein,22290,22290,22290,22000,98930,99900,11.615,NaN,263,3,78,1705,3,547,2005
19,C,Handel und Verkehr,XXII,Verkehrsgewerbe,22,"Auswanderungsvermittlung, Reisebüros",39440 (Travel Agency),Ja,39440,39440,39440,22000,45125,99900,6.899159663865547,NaN,50,0,36,386,4,11,66
20,C,Handel und Verkehr,XXII,Verkehrsgewerbe,23,"Dienstmannsinstitute und Dienstmänner, Wach- u...",97190 (Kofferträger),Ja,97190,97190,97190,97190,97190,97190,2.1238444095586955,NaN,6298,4,123,490,111,292,11910
21,C,Handel und Verkehr,XXII,Verkehrsgewerbe,24,"Straßenreinigung, Abfuhranstalten und Müllbese...","99900, 99910","Ja, Allgemein",99900,99900,99900,99900,99900,99900,19.084456424079065,NaN,255,17,60,597,28,122,15427
22,C,Handel und Verkehr,XXII,Verkehrsgewerbe,25,Abdeckerei,77390,Ja,77390,77390,77390,77390,77390,77390,1.8015435501653805,NaN,636,72,34,13,56,288,360
23,C,Handel und Verkehr,XXII,Verkehrsgewerbe,26,"Leichenbestattung, einschließlich Totengräber","59220 (Undertaker), 99910 (Totengräber)",Ja,59220,59220,59220,22000,99910,99910,2.641651031894934,NaN,2129,0,265,803,90,50,4443
24,C,Handel und Verkehr,XXIII,Gast- und Schankwirtschaft,27,Gast- und Schankwirtschaft,51000 (Working Proprietor),Ja,51000,51000,51000,53120,53210,99900,2.4382860454461324,NaN,192445,38205,8023,6289,119827,98000,188105
25,D,Häusliche Dienste (einschließlich persönliche ...,XXIV,Häusliche Dienste (einschließlich persönliche ...,1,"Häusliche Dienste (Aufwartefrauen, nicht ihrer...","54010 (Domestic servant, general)",Ja,54010,54010,54010,54010,54010,54010,1,NaN,1,1,1,1,1,1,1
26,D,Häusliche Dienste (einschließlich persönliche ...,XXIV,Häusliche Dienste (einschließlich persönliche ...,2,Lohnarbeit wechselnder Art,"54010 (Domestic servant, general)",Ja,54010,54010,54010,54010,54010,54010,1,NaN,1,1,1,1,1,1,1
27,E,"Militär-, Hof-, bürgerlicher und kirchlicher D...",XXV,"Militär-, Hof-, bürgerlicher und kirchlicher D...",6,"Privatgelehrte, Schriftsteller, Journalisten","15120 (Author), 15900 (Author Journalist or Re...",Ja,15900,15900,15900,15900,15900,15900,1,NaN,1,1,1,1,1,1,1
28,E,"Militär-, Hof-, bürgerlicher und kirchlicher D...",XXV,"Militär-, Hof-, bürgerlicher und kirchlicher D...",7,"Stenographen, Privatsekretäre, Rechnungsführer...","32110 (Stenographer-Typist General), 32120 (Se...","Nein, zu viele Sektoren",32110,32110,32110,32110,32110,32110,1,Ja,1,1,1,1,1,1,1

In [38]:
# Columns to replace values in
columns_to_replace = ["a1_HISCO", "a2_HISCO", "a3_HISCO", "b_HISCO", "c2_HISCO", "c3_HISCO"]

# Use the function to replace values in df_agri_rest
df_dist_Ser, not_replaced_positions = replace_values_with_mappings(df_dist_Ser, columns_to_replace, mappings)

# Show the first few rows of the modified DataFrame and the positions where values could not be replaced
df_dist_Ser, not_replaced_positions

(   Letter                                 Letter Description  Roman
 0       C  Handel und Verkehr, einschließlich Gast- und S...     XX  \
 1       C                                 Handel und Verkehr     XX
 2       C                                 Handel und Verkehr     XX
 3       C                                 Handel und Verkehr     XX
 4       C                                 Handel und Verkehr     XX
 5       C                                 Handel und Verkehr     XX
 6       C                                 Handel und Verkehr     XX
 7       C                                 Handel und Verkehr     XX
 8       C                                 Handel und Verkehr     XX
 9       C                                 Handel und Verkehr     XX
 10      C                                 Handel und Verkehr    XXI
 11      C                                 Handel und Verkehr   XXII
 12      C                                 Handel und Verkehr   XXII
 13      C                                 Handel und Verkehr   XXII
 14      C                                 Handel und Verkehr   XXII
 15      C                                 Handel und Verkehr   XXII
 16      C                                 Handel und Verkehr   XXII
 17      C                                 Handel und Verkehr   XXII
 18      C                                 Handel und Verkehr   XXII
 19      C                                 Handel und Verkehr   XXII
 20      C                                 Handel und Verkehr   XXII
 21      C                                 Handel und Verkehr   XXII
 22      C                                 Handel und Verkehr   XXII
 23      C                                 Handel und Verkehr   XXII
 24      C                                 Handel und Verkehr  XXIII
 25      D  Häusliche Dienste (einschließlich persönliche ...   XXIV
 26      D  Häusliche Dienste (einschließlich persönliche ...   XXIV
 27      E  Militär-, Hof-, bürgerlicher und kirchlicher D...    XXV
 28      E  Militär-, Hof-, bürgerlicher und kirchlicher D...    XXV

                                     Roman Description Number
 0                                      Handelsgewerbe      1  \
 1                                      Handelsgewerbe      2
 2                                      Handelsgewerbe      3
 3                                      Handelsgewerbe      4
 4                                      Handelsgewerbe      5
 5                                      Handelsgewerbe      6
 6                                      Handelsgewerbe      7
 7                                      Handelsgewerbe      8
 8                                      Handelsgewerbe      9
 9                                      Handelsgewerbe     10
 10                               Versicherungsgewerbe     11
 11                                    Verkehrsgewerbe     14
 12                                    Verkehrsgewerbe     15
 13                                    Verkehrsgewerbe     16
 14                                    Verkehrsgewerbe     17
 15                                    Verkehrsgewerbe     18
 16                                    Verkehrsgewerbe     19
 17                                    Verkehrsgewerbe     20
 18                                    Verkehrsgewerbe     21
 19                                    Verkehrsgewerbe     22
 20                                    Verkehrsgewerbe     23
 21                                    Verkehrsgewerbe     24
 22                                    Verkehrsgewerbe     25
 23                                    Verkehrsgewerbe     26
 24                         Gast- und Schankwirtschaft     27
 25  Häusliche Dienste (einschließlich persönliche ...      1
 26  Häusliche Dienste (einschließlich persönliche ...      2
 27  Militär-, Hof-, bürgerlicher und kirchlicher D...      6
 28  Militär-, Hof-, bürgerlicher und kirchlicher D...      7

                                    Number Description
 0   Waren- und Produktenhandel im stehenden Geschä...  \
 1                              Geld- und Kredithandel
 2   Buch-, Kunst- und Musikalienhandel, einschließ...
 3    Zeitungsverlag und -spedition (auch -expedition)
 4         Hausirhandel (einschließlich Straßenhandel)
 5   Handelsvermittlung (Makler [ausgenommen Schiff...
 6   Hilfsgewerbe des Handels (Stauer, Schauerleute...
 7             Versteigerung, Verleihung, Aufbewahrung
 8                                  Stellenvermittlung
 9                Annoncen-Vermittlung, Auskunftsbüros
 10                               Versicherungsgewerbe
 11                  Posthalterei und Personenfuhrwerk
 12                                   Straßenbahntrieb
 13                     Spedition und Güterbeförderung
 14                                     Frachtfuhrwerk
 15                    Reederei und Schiffsbefrachtung
 16                         See- und Küstenschifffahrt
 17                                  Binnenschifffahrt
 18  Hafen- und Lotsendienst, Küstenbewachungs- und...
 19               Auswanderungsvermittlung, Reisebüros
 20  Dienstmannsinstitute und Dienstmänner, Wach- u...
 21  Straßenreinigung, Abfuhranstalten und Müllbese...
 22                                         Abdeckerei
 23      Leichenbestattung, einschließlich Totengräber
 24                         Gast- und Schankwirtschaft
 25  Häusliche Dienste (Aufwartefrauen, nicht ihrer...
 26                         Lohnarbeit wechselnder Art
 27       Privatgelehrte, Schriftsteller, Journalisten
 28  Stenographen, Privatsekretäre, Rechnungsführer...

                                          HISCO Number
 0                        41025 (Groß und Kleinhandel)  \
 1   33940 (Bankkaufmann), 33140 (Bankangestellter)...
 2   41030 (Bookseller). Jeder Verlag hat auch eine...
 3                  15900 (General), 21110 (Publisher)
 4   45220 (Street Vendor), 45230 (Canvasser), 4529...
 5               44100, 44000 (mit Business Services)
 6            99900 (Worker General), 99910 (Labourer)
 7              44320 (Auctioneer), 49020 (Pawnbroker)
 8                          19420, 19430, 19440, 19490
 9                        44230 (Advertising Salesman)
 10        08250 (Actuary), 44120 (Insurance Salesman)
 11               22220 (Posthalter), 98620 (Kutscher)
 12  98520 (Straßenbahnwagenführer), 36040 (Straßen...
 13  39120 (Spediteur), 98420 (Railway Brakeman Fre...
 14                98620 /Animal-Drawn Vehicle Driver)
 15                                     97120 (Docker)
 16  04200 (Ships' Deck Officer or Pilot Specialisa...
 17  04200 (Ships' Deck Officer or Pilot Specialisa...
 18  98930 (Schleusenwächter), 98940 (Lighthouse-Ma...
 19                              39440 (Travel Agency)
 20                               97190 (Kofferträger)
 21                                       99900, 99910
 22                                              77390
 23            59220 (Undertaker), 99910 (Totengräber)
 24                         51000 (Working Proprietor)
 25                  54010 (Domestic servant, general)
 26                  54010 (Domestic servant, general)
 27  15120 (Author), 15900 (Author Journalist or Re...
 28  32110 (Stenographer-Typist General), 32120 (Se...

      Eindeutig_Identifizierbar a1_HISCO a2_HISCO a3_HISCO b_HISCO c2_HISCO
 0                Ja, Allgemein        4        4        4       3        5  \
 1                   Sonderfall        5        5        5       3        5
 2   Nein, nur einer auffindbar        4        4        4       4        5
 3                   Sonderfall        1        1        1       3        5
 4                           Ja       11       11       11      11       11
 5                Ja, Allgemein        4        4        4       3        5
 6                Ja, Allgemein       11       11       11      11       11
 7      Nein, zu viele Sektoren        5        5        5       3        5
 8                           Ja        4        4        4       3        5
 9                           Ja        4        4        4       3        5
 10                        Nein        4        4        4       3        5
 11                        Nein        3        3        3       3        9
 12                  Sonderfall        6        6        6       3        9
 13                          Ja        5        5        5       3        5
 14                         NaN        9        9        9       9        9
 15                          Ja       11       11       11      11       11
 16                        Nein        3        3        3       9       11
 17                        Nein        3        3        3       9       11
 18                        Nein        3        3        3       3        5
 19                          Ja        5        5        5       3        5
 20                          Ja       11       11       11      11       11
 21               Ja, Allgemein       11       11       11      11       11
 22                          Ja        9        9        9       9        9
 23                          Ja        4        4        4       3       11
 24                          Ja        4        4        4       6        9
 25                          Ja        9        9        9       9        9
 26                          Ja        9        9        9       9        9
 27                          Ja        2        2        2       2        2
 28     Nein, zu viele Sektoren        5        5        5       5        5

    c3_HISCO   Average_Firm_Size Probleme mit unterschiedlichen skill leveln
 0        11   2.430095413201059                                         NaN  \
 1        11   6.783827384553337                                         NaN
 2        11   3.690452176836443                                         NaN
 3        11   9.293066780093577                                         NaN
 4        11   1.157173273366666                                         NaN
 5        11  1.6553043554311702                                         NaN
 6        11   8.198835784313726                                         NaN
 7        11           4.0503125                                          Ja
 8        11  1.2785633024540874                                         NaN
 9        11   4.345063985374772                                         NaN
 10       11   2.885261661929443                          Actuary teil von b
 11       11   2.470059027071036                                         NaN
 12       11  191.82213438735178                                         NaN
 13       11   7.673940305994482                                         NaN
 14       11   2.343885384206126                                         NaN
 15       11                   1                                         NaN
 16       11   32.19253333333333                                         NaN
 17       11  3.9562667969704375                                         NaN
 18       11              11.615                                         NaN
 19       11   6.899159663865547                                         NaN
 20       11  2.1238444095586955                                         NaN
 21       11  19.084456424079065                                         NaN
 22        9  1.8015435501653805                                         NaN
 23       11   2.641651031894934                                         NaN
 24       11  2.4382860454461324                                         NaN
 25        9                   1                                         NaN
 26        9                   1                                         NaN
 27        2                   1                                         NaN
 28        5                   1                                          Ja

         a1     a2     a3       b      c1      c2      c3
 0   530963   4501  21806  186091  130363  392058  189060
 1     4078      1   4146   48996      62    1783    7272
 2     9559     16    709   11622     851    8934    6219
 3     1178     28    470    3983      99     611   10931
 4    33355      2      5      20    2375     674     507
 5    33280     18   9155   10154     517    1333    1428
 6     2141     27    110    2159      39     377   42893
 7     4095     83    264    1394     290     331    4367
 8     5536      2    132     499     192      57      76
 9     1232      5    341    3468      34     227     326
 10    1079      0  12594   42925     145     506    3282
 11   21106    128    344     802    1752   15270   31201
 12      22      1    280    2964       0   21354   17695
 13    6888     18    530   11816     577    2777   29698
 14   17691     94    210     478    1988    1290   33816
 15    1910     11    316    4882      10     133    1523
 16     981     10    969    4761      53    9813    8346
 17   10509    360   1598    6537    1051   22631   11080
 18     263      3     78    1705       3     547    2005
 19      50      0     36     386       4      11      66
 20    6298      4    123     490     111     292   11910
 21     255     17     60     597      28     122   15427
 22     636     72     34      13      56     288     360
 23    2129      0    265     803      90      50    4443
 24  192445  38205   8023    6289  119827   98000  188105
 25       1      1      1       1       1       1       1
 26       1      1      1       1       1       1       1
 27       1      1      1       1       1       1       1
 28       1      1      1       1       1       1       1  ,
 [])

In [39]:
# Now map the to skill level
df_dist_Ser, not_replaced_positions = replace_values_with_mappings(df_dist_Ser, columns_to_replace, skill_mappings)
df_dist_Ser

,Letter,Letter Description,Roman,Roman Description,Number,Number Description,HISCO Number,Eindeutig_Identifizierbar,a1_HISCO,a2_HISCO,a3_HISCO,b_HISCO,c2_HISCO,c3_HISCO,Average_Firm_Size,Probleme mit unterschiedlichen skill leveln,a1,a2,a3,b,c1,c2,c3
0,C,"Handel und Verkehr, einschließlich Gast- und S...",XX,Handelsgewerbe,1,Waren- und Produktenhandel im stehenden Geschä...,41025 (Groß und Kleinhandel),"Ja, Allgemein",medium,medium,medium,medium,low,unskilled,2.430095413201059,NaN,530963,4501,21806,186091,130363,392058,189060
1,C,Handel und Verkehr,XX,Handelsgewerbe,2,Geld- und Kredithandel,"33940 (Bankkaufmann), 33140 (Bankangestellter)...",Sonderfall,low,low,low,medium,low,unskilled,6.783827384553337,NaN,4078,1,4146,48996,62,1783,7272
2,C,Handel und Verkehr,XX,Handelsgewerbe,3,"Buch-, Kunst- und Musikalienhandel, einschließ...",41030 (Bookseller). Jeder Verlag hat auch eine...,"Nein, nur einer auffindbar",medium,medium,medium,medium,low,unskilled,3.690452176836443,NaN,9559,16,709,11622,851,8934,6219
3,C,Handel und Verkehr,XX,Handelsgewerbe,4,Zeitungsverlag und -spedition (auch -expedition),"15900 (General), 21110 (Publisher)",Sonderfall,high,high,high,medium,low,unskilled,9.293066780093577,NaN,1178,28,470,3983,99,611,10931
4,C,Handel und Verkehr,XX,Handelsgewerbe,5,Hausirhandel (einschließlich Straßenhandel),"45220 (Street Vendor), 45230 (Canvasser), 4529...",Ja,unskilled,unskilled,unskilled,unskilled,unskilled,unskilled,1.157173273366666,NaN,33355,2,5,20,2375,674,507
5,C,Handel und Verkehr,XX,Handelsgewerbe,6,Handelsvermittlung (Makler [ausgenommen Schiff...,"44100, 44000 (mit Business Services)","Ja, Allgemein",medium,medium,medium,medium,low,unskilled,1.6553043554311702,NaN,33280,18,9155,10154,517,1333,1428
6,C,Handel und Verkehr,XX,Handelsgewerbe,7,"Hilfsgewerbe des Handels (Stauer, Schauerleute...","99900 (Worker General), 99910 (Labourer)","Ja, Allgemein",unskilled,unskilled,unskilled,unskilled,unskilled,unskilled,8.198835784313726,NaN,2141,27,110,2159,39,377,42893
7,C,Handel und Verkehr,XX,Handelsgewerbe,8,"Versteigerung, Verleihung, Aufbewahrung","44320 (Auctioneer), 49020 (Pawnbroker)","Nein, zu viele Sektoren",low,low,low,medium,low,unskilled,4.0503125,Ja,4095,83,264,1394,290,331,4367
8,C,Handel und Verkehr,XX,Handelsgewerbe,9,Stellenvermittlung,"19420, 19430, 19440, 19490",Ja,medium,medium,medium,medium,low,unskilled,1.2785633024540874,NaN,5536,2,132,499,192,57,76
9,C,Handel und Verkehr,XX,Handelsgewerbe,10,"Annoncen-Vermittlung, Auskunftsbüros",44230 (Advertising Salesman),Ja,medium,medium,medium,medium,low,unskilled,4.345063985374772,NaN,1232,5,341,3468,34,227,326
10,C,Handel und Verkehr,XXI,Versicherungsgewerbe,11,Versicherungsgewerbe,"08250 (Actuary), 44120 (Insurance Salesman)",Nein,medium,medium,medium,medium,low,unskilled,2.885261661929443,Actuary teil von b,1079,0,12594,42925,145,506,3282
11,C,Handel und Verkehr,XXII,Verkehrsgewerbe,14,Posthalterei und Personenfuhrwerk,"22220 (Posthalter), 98620 (Kutscher)",Nein,medium,medium,medium,medium,low,unskilled,2.470059027071036,NaN,21106,128,344,802,1752,15270,31201
12,C,Handel und Verkehr,XXII,Verkehrsgewerbe,15,Straßenbahntrieb,"98520 (Straßenbahnwagenführer), 36040 (Straßen...",Sonderfall,medium,medium,medium,medium,low,unskilled,191.82213438735178,NaN,22,1,280,2964,0,21354,17695
13,C,Handel und Verkehr,XXII,Verkehrsgewerbe,16,Spedition und Güterbeförderung,"39120 (Spediteur), 98420 (Railway Brakeman Fre...",Ja,low,low,low,medium,low,unskilled,7.673940305994482,NaN,6888,18,530,11816,577,2777,29698
14,C,Handel und Verkehr,XXII,Verkehrsgewerbe,17,Frachtfuhrwerk,98620 /Animal-Drawn Vehicle Driver),NaN,low,low,low,low,low,unskilled,2.343885384206126,NaN,17691,94,210,478,1988,1290,33816
15,C,Handel und Verkehr,XXII,Verkehrsgewerbe,18,Reederei und Schiffsbefrachtung,97120 (Docker),Ja,unskilled,unskilled,unskilled,unskilled,unskilled,unskilled,1,NaN,1910,11,316,4882,10,133,1523
16,C,Handel und Verkehr,XXII,Verkehrsgewerbe,19,See- und Küstenschifffahrt,04200 (Ships' Deck Officer or Pilot Specialisa...,Nein,medium,medium,medium,low,unskilled,unskilled,32.19253333333333,NaN,981,10,969,4761,53,9813,8346
17,C,Handel und Verkehr,XXII,Verkehrsgewerbe,20,Binnenschifffahrt,04200 (Ships' Deck Officer or Pilot Specialisa...,Nein,medium,medium,medium,low,unskilled,unskilled,3.9562667969704375,NaN,10509,360,1598,6537,1051,22631,11080
18,C,Handel und Verkehr,XXII,Verkehrsgewerbe,21,"Hafen- und Lotsendienst, Küstenbewachungs- und...","98930 (Schleusenwächter), 98940 (Lighthouse-Ma...",Nein,medium,medium,medium,medium,low,unskilled,11.615,NaN,263,3,78,1705,3,547,2005
19,C,Handel und Verkehr,XXII,Verkehrsgewerbe,22,"Auswanderungsvermittlung, Reisebüros",39440 (Travel Agency),Ja,low,low,low,medium,low,unskilled,6.899159663865547,NaN,50,0,36,386,4,11,66
20,C,Handel und Verkehr,XXII,Verkehrsgewerbe,23,"Dienstmannsinstitute und Dienstmänner, Wach- u...",97190 (Kofferträger),Ja,unskilled,unskilled,unskilled,unskilled,unskilled,unskilled,2.1238444095586955,NaN,6298,4,123,490,111,292,11910
21,C,Handel und Verkehr,XXII,Verkehrsgewerbe,24,"Straßenreinigung, Abfuhranstalten und Müllbese...","99900, 99910","Ja, Allgemein",unskilled,unskilled,unskilled,unskilled,unskilled,unskilled,19.084456424079065,NaN,255,17,60,597,28,122,15427
22,C,Handel und Verkehr,XXII,Verkehrsgewerbe,25,Abdeckerei,77390,Ja,low,low,low,low,low,low,1.8015435501653805,NaN,636,72,34,13,56,288,360
23,C,Handel und Verkehr,XXII,Verkehrsgewerbe,26,"Leichenbestattung, einschließlich Totengräber","59220 (Undertaker), 99910 (Totengräber)",Ja,medium,medium,medium,medium,unskilled,unskilled,2.641651031894934,NaN,2129,0,265,803,90,50,4443
24,C,Handel und Verkehr,XXIII,Gast- und Schankwirtschaft,27,Gast- und Schankwirtschaft,51000 (Working Proprietor),Ja,medium,medium,medium,medium,low,unskilled,2.4382860454461324,NaN,192445,38205,8023,6289,119827,98000,188105
25,D,Häusliche Dienste (einschließlich persönliche ...,XXIV,Häusliche Dienste (einschließlich persönliche ...,1,"Häusliche Dienste (Aufwartefrauen, nicht ihrer...","54010 (Domestic servant, general)",Ja,low,low,low,low,low,low,1,NaN,1,1,1,1,1,1,1
26,D,Häusliche Dienste (einschließlich persönliche ...,XXIV,Häusliche Dienste (einschließlich persönliche ...,2,Lohnarbeit wechselnder Art,"54010 (Domestic servant, general)",Ja,low,low,low,low,low,low,1,NaN,1,1,1,1,1,1,1
27,E,"Militär-, Hof-, bürgerlicher und kirchlicher D...",XXV,"Militär-, Hof-, bürgerlicher und kirchlicher D...",6,"Privatgelehrte, Schriftsteller, Journalisten","15120 (Author), 15900 (Author Journalist or Re...",Ja,high,high,high,high,high,high,1,NaN,1,1,1,1,1,1,1
28,E,"Militär-, Hof-, bürgerlicher und kirchlicher D...",XXV,"Militär-, Hof-, bürgerlicher und kirchlicher D...",7,"Stenographen, Privatsekretäre, Rechnungsführer...","32110 (Stenographer-Typist General), 32120 (Se...","Nein, zu viele Sektoren",low,low,low,low,low,low,1,Ja,1,1,1,1,1,1,1

In [40]:
cols_to_check = ["a1", "a2", "a3", "b", "c1", "c2", "c3", "Average_Firm_Size"]
print(df_dist_Ser[cols_to_check].dtypes)
print(df_Ser["d_Hauptberuf"].dtypes)

# Convert to floats
df_dist_Ser[cols_to_check] = df_dist_Ser[cols_to_check].apply(pd.to_numeric, errors="coerce")

# Convert 'd_Hauptberuf' column in df_A_Rest to float
df_Ser["d_Hauptberuf"] = pd.to_numeric(df_Ser["d_Hauptberuf"], errors="coerce")

# Check the data types after conversion
dist_Ser_dtypes = df_dist_Ser[cols_to_check].dtypes
Ser_dtype = df_Ser["d_Hauptberuf"].dtype
print(dist_Ser_dtypes)
print(Ser_dtype)

a1                   object
a2                   object
a3                   object
b                    object
c1                   object
c2                   object
c3                   object
Average_Firm_Size    object
dtype: object
float64
a1                     int64
a2                     int64
a3                     int64
b                      int64
c1                     int64
c2                     int64
c3                     int64
Average_Firm_Size    float64
dtype: object
float64

In [41]:
# Define the columns
status_cols = ["a1", "a2", "a3", "b", "c1", "c2", "c3"]
cols_to_consider = ["a1", "a2", "a3", "b", "c2", "c3"]
df_Ser.loc[:, "i_Ziffer"] = df_Ser["i_Ziffer"].astype(str)
df_dist_Ser_finished, df_Ser_finished = SkillCalculator(df_dist_Ser, df_Ser, status_cols, cols_to_consider, threshold_lvl=1)
df_Ser_finished

,id_inequality,i_Grossbuchstabe,i_Ziffer,d_Hauptberuf_m,d_Hauptberuf_w,d_Hauptberuf,rb_id,high,medium,low,unskilled,intermediate
0,1.0,C,1,1726.0,583.0,2309.0,17.0,0,1179.798596,622.240712,506.960692,0
1,1.0,C,2,29.0,1.0,30.0,17.0,0,22.157436,4.525913,3.316651,0
2,1.0,C,3,7.0,11.0,18.0,17.0,0,10.401161,4.241941,3.356898,0
3,1.0,C,4,0.0,2.0,2.0,17.0,0.193757,0.460462,0.070636,1.275145,0
4,1.0,C,5,4.0,0.0,4.0,17.0,0,0,0,4.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
13066,697.0,E,6,1.0,1.0,2.0,1.0,2.0,0,0,0,0
13067,698.0,E,7,10.0,0.0,10.0,1.0,0,0,10.0,0,0
13068,700.0,E,7,0.0,0.0,0.0,31.0,0,0,0.0,0,0
13069,701.0,E,6,1.0,0.0,1.0,31.0,1.0,0,0,0,0
13070,701.0,E,7,0.0,0.0,0.0,31.0,0,0,0.0,0,0

# Special

## Forestry

In [42]:
df_Forestry = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"].isin(["A"])]
df_Forestry = df_Forestry[df_Forestry["i_Ziffer"].isin([4])]

In [43]:
# Load data
Forestry_rb = pd.read_excel(f"{classification_path}\\Forestry.xlsx")

# Calculate the percentages

# for a1
Forestry_rb["a"] = Forestry_rb["a"].astype(float)
Forestry_rb["Summe"] = Forestry_rb["Summe"].astype(float)
Forestry_rb["a_per"] = Forestry_rb["a"] / Forestry_rb["Summe"]

# for b
Forestry_rb["b"] = Forestry_rb["b"].astype(float)
Forestry_rb["Summe"] = Forestry_rb["Summe"].astype(float)
Forestry_rb["b_per"] = Forestry_rb["b"] / Forestry_rb["Summe"]

# for c
Forestry_rb["c"] = Forestry_rb["c"].astype(float)
Forestry_rb["Summe"] = Forestry_rb["Summe"].astype(float)
Forestry_rb["c_per"] = Forestry_rb["c"] / Forestry_rb["Summe"]

# Convert 'rb_id' in both DataFrames to string to ensure they have the same format
df_Forestry["rb_id"] = df_Forestry["rb_id"].astype(str)
Forestry_rb["id"] = Forestry_rb["id"].astype(str)

# Remove the '.0' suffix from the 'rb_id' values in df_A_1
df_Forestry["rb_id"] = df_Forestry["rb_id"].str.replace(".0", "", regex=False)

# Perform the merge
df_Forestry = pd.merge(df_Forestry, Forestry_rb[["id", "a_per", "b_per", "c_per"]], left_on="rb_id", right_on="id", how="left")

# Convert 'a_per', 'b_per', 'c_per', and 'd_Hauptberuf' to float for calculations
df_Forestry["a_per"] = df_Forestry["a_per"].astype(float)
df_Forestry["b_per"] = df_Forestry["b_per"].astype(float)
df_Forestry["c_per"] = df_Forestry["c_per"].astype(float)
df_Forestry["d_Hauptberuf"] = df_Forestry["d_Hauptberuf"].astype(float)

# Create and fill the 'medium' and 'unskilled' columns
df_Forestry["high"] = ""
# a and b are medium skilled (HISCO: 63220)
df_Forestry["medium"] = df_Forestry["d_Hauptberuf"] * (df_Forestry["a_per"] + df_Forestry["b_per"])
df_Forestry["low"] = df_Forestry["d_Hauptberuf"] * df_Forestry["c_per"]
df_Forestry["unskilled"] = ""

# Reorder the columns
column_order = ["id_inequality", "i_Grossbuchstabe", "i_Ziffer", "d_Hauptberuf_m", "d_Hauptberuf_w", "rb_id", "d_Hauptberuf", "high", "medium", "low", "unskilled"]
df_Forestry = df_Forestry[column_order]
df_Forestry

,id_inequality,i_Grossbuchstabe,i_Ziffer,d_Hauptberuf_m,d_Hauptberuf_w,rb_id,d_Hauptberuf,high,medium,low,unskilled
0,1.0,A,4,69.0,100.0,17,169.0,,33.847785,135.152215,
1,2.0,A,4,155.0,44.0,17,199.0,,39.856268,159.143732,
2,4.0,A,4,68.0,0.0,17,68.0,,13.619227,54.380773,
3,5.0,A,4,85.0,11.0,17,96.0,,19.227144,76.772856,
4,6.0,A,4,376.0,68.0,17,444.0,,88.925542,355.074458,
...,...,...,...,...,...,...,...,...,...,...,...
567,698.0,A,4,192.0,0.0,1,192.0,,33.009967,158.990033,
568,699.0,A,4,87.0,4.0,31,91.0,,33.617834,57.382166,
569,700.0,A,4,23.0,0.0,31,23.0,,8.496815,14.503185,
570,701.0,A,4,28.0,0.0,31,28.0,,10.343949,17.656051,
571,702.0,A,4,14.0,1.0,31,15.0,,5.541401,9.458599,

## Post and Telegram

In [44]:
df_Post = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"].isin(["C"])]
df_Post = df_Post[df_Post["i_Ziffer"].isin([12])]

In [45]:
# Load data
Post_rb = pd.read_excel(f"{classification_path}\\Post_and_Telegram.xlsx")

# Calculate the percentages

# For a1
Post_rb["a"] = Post_rb["a"].astype(float)
Post_rb["Summe"] = Post_rb["Summe"].astype(float)
Post_rb["a_per"] = Post_rb["a"] / Post_rb["Summe"]

# For b
Post_rb["b"] = Post_rb["b"].astype(float)
Post_rb["Summe"] = Post_rb["Summe"].astype(float)
Post_rb["b_per"] = Post_rb["b"] / Post_rb["Summe"]

# For c
Post_rb["c"] = Post_rb["c"].astype(float)
Post_rb["Summe"] = Post_rb["Summe"].astype(float)
Post_rb["c_per"] = Post_rb["c"] / Post_rb["Summe"]

# Convert 'rb_id' in both DataFrames to string to ensure they have the same format
df_Post["rb_id"] = df_Post["rb_id"].astype(str)
Post_rb["id"] = Post_rb["id"].astype(str)

# Remove the '.0' suffix from the 'rb_id' values in df_A_1
df_Post["rb_id"] = df_Post["rb_id"].str.replace(".0", "", regex=False)

# Perform the merge
df_Post = pd.merge(df_Post, Post_rb[["id", "a_per", "b_per", "c_per"]], left_on="rb_id", right_on="id", how="left")

# Convert 'a_per', 'b_per', 'c_per', and 'd_Hauptberuf' to float for calculations
df_Post["a_per"] = df_Post["a_per"].astype(float)
df_Post["b_per"] = df_Post["b_per"].astype(float)
df_Post["c_per"] = df_Post["c_per"].astype(float)
df_Post["d_Hauptberuf"] = df_Post["d_Hauptberuf"].astype(float)

# Create and fill the 'medium' and 'unskilled' columns

# a is highly skilled (HISCO: 21110)
df_Post["high"] = df_Post["d_Hauptberuf"] * df_Post["a_per"]
df_Post["medium"] = ""

# b and are low skilled (HISCO: 39310 and 37000)
df_Post["low"] = df_Post["d_Hauptberuf"] * (df_Post["b_per"] + df_Post["c_per"])
df_Post["unskilled"] = ""

# Reorder the columns
column_order = ["id_inequality", "i_Grossbuchstabe", "i_Ziffer", "d_Hauptberuf_m", "d_Hauptberuf_w", "rb_id", "d_Hauptberuf", "high", "medium", "low", "unskilled"]
df_Post = df_Post[column_order]
df_Post

,id_inequality,i_Grossbuchstabe,i_Ziffer,d_Hauptberuf_m,d_Hauptberuf_w,rb_id,d_Hauptberuf,high,medium,low,unskilled
0,1.0,C,12,157.0,15.0,17,172.0,9.443989,,162.556011,
1,2.0,C,12,156.0,19.0,17,175.0,9.608709,,165.391291,
2,4.0,C,12,1172.0,142.0,17,1314.0,72.147681,,1241.852319,
3,5.0,C,12,94.0,12.0,17,106.0,5.820133,,100.179867,
4,6.0,C,12,109.0,8.0,17,117.0,6.424109,,110.575891,
...,...,...,...,...,...,...,...,...,...,...,...
570,698.0,C,12,130.0,0.0,1,130.0,8.739496,,121.260504,
571,699.0,C,12,71.0,1.0,31,72.0,6.000000,,66.000000,
572,700.0,C,12,24.0,2.0,31,26.0,2.166667,,23.833333,
573,701.0,C,12,55.0,2.0,31,57.0,4.750000,,52.250000,
574,702.0,C,12,24.0,1.0,31,25.0,2.083333,,22.916667,

## Railroad

In [46]:
df_Rail = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"].isin(["C"])]
df_Rail = df_Rail[df_Rail["i_Ziffer"].isin([13])]

In [47]:
# Load data
Rail_rb = pd.read_excel(f"{classification_path}\\Railroad.xlsx")

# Calculate the percentages

# For a1
Rail_rb["a"] = Rail_rb["a"].astype(float)
Rail_rb["Summe"] = Rail_rb["Summe"].astype(float)
Rail_rb["a_per"] = Rail_rb["a"] / Rail_rb["Summe"]

# For b
Rail_rb["b"] = Rail_rb["b"].astype(float)
Rail_rb["Summe"] = Rail_rb["Summe"].astype(float)
Rail_rb["b_per"] = Rail_rb["b"] / Rail_rb["Summe"]

# For c
Rail_rb["c"] = Rail_rb["c"].astype(float)
Rail_rb["Summe"] = Rail_rb["Summe"].astype(float)
Rail_rb["c_per"] = Rail_rb["c"] / Rail_rb["Summe"]

# Convert 'rb_id' in both DataFrames to string to ensure they have the same format
df_Rail["rb_id"] = df_Rail["rb_id"].astype(str)
Rail_rb["id"] = Rail_rb["id"].astype(str)

# Remove the '.0' suffix from the 'rb_id' values in df_A_1
df_Rail["rb_id"] = df_Rail["rb_id"].str.replace(".0", "", regex=False)

# Perform the merge
df_Rail = pd.merge(df_Rail, Rail_rb[["id", "a_per", "b_per", "c_per"]], left_on="rb_id", right_on="id", how="left")

# Convert 'a_per', 'b_per', 'c_per', and 'd_Hauptberuf' to float for calculations
df_Rail["a_per"] = df_Rail["a_per"].astype(float)
df_Rail["b_per"] = df_Rail["b_per"].astype(float)
df_Rail["c_per"] = df_Rail["c_per"].astype(float)
df_Rail["d_Hauptberuf"] = df_Rail["d_Hauptberuf"].astype(float)

# Create and fill the 'medium' and 'unskilled' columns

# a is highly skilled (HISCO: 21110)
df_Rail["high"] = df_Rail["d_Hauptberuf"] * df_Rail["a_per"]
df_Rail["medium"] = ""

# b and c are low skilled (HISCO: 39310, 36020)
df_Rail["low"] = df_Rail["d_Hauptberuf"] * (df_Rail["b_per"] + df_Rail["c_per"])
df_Rail["unskilled"] = ""

# Reorder the columns
column_order = ["id_inequality", "i_Grossbuchstabe", "i_Ziffer", "d_Hauptberuf_m", "d_Hauptberuf_w", "rb_id", "d_Hauptberuf", "high", "medium", "low", "unskilled"]
df_Rail = df_Rail[column_order]
df_Rail

,id_inequality,i_Grossbuchstabe,i_Ziffer,d_Hauptberuf_m,d_Hauptberuf_w,rb_id,d_Hauptberuf,high,medium,low,unskilled
0,1.0,C,13,257.0,6.0,17,263.0,7.367756,,255.632244,
1,2.0,C,13,159.0,13.0,17,172.0,4.818456,,167.181544,
2,4.0,C,13,1593.0,55.0,17,1648.0,46.167536,,1601.832464,
3,5.0,C,13,140.0,9.0,17,149.0,4.174128,,144.825872,
4,6.0,C,13,46.0,2.0,17,48.0,1.344686,,46.655314,
...,...,...,...,...,...,...,...,...,...,...,...
570,698.0,C,13,271.0,1.0,1,272.0,6.346885,,265.653115,
571,699.0,C,13,147.0,3.0,31,150.0,10.150376,,139.849624,
572,700.0,C,13,25.0,1.0,31,26.0,1.759398,,24.240602,
573,701.0,C,13,52.0,1.0,31,53.0,3.586466,,49.413534,
574,702.0,C,13,32.0,5.0,31,37.0,2.503759,,34.496241,

## Army

In [48]:
df_Army = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"].isin(["E"])]
df_Army = df_Army[df_Army["i_Ziffer"].isin([1])]

In [49]:
# Load data
Army_rb = pd.read_excel(f"{classification_path}\\Military.xlsx")

# Calculate the percentages

# For a1
Army_rb["a"] = Army_rb["a"].astype(float)
Army_rb["Summe"] = Army_rb["Summe"].astype(float)
Army_rb["a_per"] = Army_rb["a"] / Army_rb["Summe"]

# For b
Army_rb["b"] = Army_rb["b"].astype(float)
Army_rb["Summe"] = Army_rb["Summe"].astype(float)
Army_rb["b_per"] = Army_rb["b"] / Army_rb["Summe"]

# Convert 'rb_id' in both DataFrames to string to ensure they have the same format
df_Army["rb_id"] = df_Army["rb_id"].astype(str)
Army_rb["id"] = Army_rb["id"].astype(str)

# Remove the '.0' suffix from the 'rb_id' values in df_A_1
df_Army["rb_id"] = df_Army["rb_id"].str.replace(".0", "", regex=False)

# Perform the merge
df_Army = pd.merge(df_Army, Army_rb[["id", "a_per", "b_per"]], left_on="rb_id", right_on="id", how="left")

# Convert 'a_per', 'b_per', 'c_per', and 'd_Hauptberuf' to float for calculations
df_Army["a_per"] = df_Army["a_per"].astype(float)
df_Army["b_per"] = df_Army["b_per"].astype(float)
df_Army["d_Hauptberuf"] = df_Army["d_Hauptberuf"].astype(float)

# Create and fill the 'medium' and 'unskilled' columns

# a is highly skilled (HISCO: 58320)
df_Army["high"] = df_Army["d_Hauptberuf"] * df_Army["a_per"]
df_Army["medium"] = ""
# b is low skilled (HISCO: 58340)
df_Army["low"] = df_Army["d_Hauptberuf"] * df_Army["b_per"]
df_Army["unskilled"] = ""

# Reorder the columns
column_order = ["id_inequality", "i_Grossbuchstabe", "i_Ziffer", "d_Hauptberuf_m", "d_Hauptberuf_w", "rb_id", "d_Hauptberuf", "high", "medium", "low", "unskilled"]
df_Army = df_Army[column_order]
df_Army

,id_inequality,i_Grossbuchstabe,i_Ziffer,d_Hauptberuf_m,d_Hauptberuf_w,rb_id,d_Hauptberuf,high,medium,low,unskilled
0,1.0,E,1,538.0,0.0,17,538.0,26.051033,,511.948967,
1,2.0,E,1,1093.0,0.0,17,1093.0,52.925241,,1040.074759,
2,4.0,E,1,9816.0,0.0,17,9816.0,475.310304,,9340.689696,
3,5.0,E,1,378.0,0.0,17,378.0,18.303514,,359.696486,
4,6.0,E,1,16.0,0.0,17,16.0,0.774752,,15.225248,
...,...,...,...,...,...,...,...,...,...,...,...
568,698.0,E,1,3723.0,0.0,1,3723.0,147.389108,,3575.610892,
569,699.0,E,1,27.0,0.0,31,27.0,2.377358,,24.622642,
570,700.0,E,1,9.0,0.0,31,9.0,0.792453,,8.207547,
571,701.0,E,1,119.0,0.0,31,119.0,10.477987,,108.522013,
572,702.0,E,1,4.0,0.0,31,4.0,0.352201,,3.647799,

## Government

In [50]:
df_Gov = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"].isin(["E"])]
df_Gov = df_Gov[df_Gov["i_Ziffer"].isin([2])]

In [51]:
# Load data
Gov_rb = pd.read_excel(f"{classification_path}\\State.xlsx")

# Calculate the percentages

# For a1
Gov_rb["a"] = Gov_rb["a"].astype(float)
Gov_rb["Summe"] = Gov_rb["Summe"].astype(float)
Gov_rb["a_per"] = Gov_rb["a"] / Gov_rb["Summe"]

# For b
Gov_rb["b"] = Gov_rb["b"].astype(float)
Gov_rb["Summe"] = Gov_rb["Summe"].astype(float)
Gov_rb["b_per"] = Gov_rb["b"] / Gov_rb["Summe"]

# For c
Gov_rb["c"] = Gov_rb["c"].astype(float)
Gov_rb["Summe"] = Gov_rb["Summe"].astype(float)
Gov_rb["c_per"] = Gov_rb["c"] / Gov_rb["Summe"]

# Convert 'rb_id' in both DataFrames to string to ensure they have the same format
df_Gov["rb_id"] = df_Gov["rb_id"].astype(str)
Gov_rb["id"] = Gov_rb["id"].astype(str)

# Remove the '.0' suffix from the 'rb_id' values in df_A_1
df_Gov["rb_id"] = df_Gov["rb_id"].str.replace(".0", "", regex=False)

# Perform the merge
df_Gov = pd.merge(df_Gov, Gov_rb[["id", "a_per", "b_per", "c_per"]], left_on="rb_id", right_on="id", how="left")

# Convert 'a_per', 'b_per', 'c_per', and 'd_Hauptberuf' to float for calculations
df_Gov["a_per"] = df_Gov["a_per"].astype(float)
df_Gov["b_per"] = df_Gov["b_per"].astype(float)
df_Gov["c_per"] = df_Gov["c_per"].astype(float)
df_Gov["d_Hauptberuf"] = df_Gov["d_Hauptberuf"].astype(float)

# Create and fill the 'medium' and 'unskilled' columns

# a is highly skilled (HISCO: 20210)
df_Gov["high"] = df_Gov["d_Hauptberuf"] * df_Gov["a_per"]
df_Gov["medium"] = ""

# b and c are low skilled (HISCO: 39310, 59990)
df_Gov["low"] = df_Gov["d_Hauptberuf"] * (df_Gov["b_per"] + df_Gov["c_per"])
df_Gov["unskilled"] = ""

# Reorder the columns
column_order = ["id_inequality", "i_Grossbuchstabe", "i_Ziffer", "d_Hauptberuf_m", "d_Hauptberuf_w", "rb_id", "d_Hauptberuf", "high", "medium", "low", "unskilled"]
df_Gov = df_Gov[column_order]
df_Gov

,id_inequality,i_Grossbuchstabe,i_Ziffer,d_Hauptberuf_m,d_Hauptberuf_w,rb_id,d_Hauptberuf,high,medium,low,unskilled
0,1.0,E,2,419.0,25.0,17,444.0,60.698127,,383.301873,
1,2.0,E,2,212.0,8.0,17,220.0,30.075648,,189.924352,
2,4.0,E,2,2984.0,166.0,17,3150.0,430.628602,,2719.371398,
3,5.0,E,2,46.0,2.0,17,48.0,6.561960,,41.438040,
4,6.0,E,2,154.0,1.0,17,155.0,21.189661,,133.810339,
...,...,...,...,...,...,...,...,...,...,...,...
569,698.0,E,2,200.0,0.0,1,200.0,25.031863,,174.968137,
570,699.0,E,2,251.0,6.0,31,257.0,48.010989,,208.989011,
571,700.0,E,2,32.0,0.0,31,32.0,5.978022,,26.021978,
572,701.0,E,2,122.0,0.0,31,122.0,22.791209,,99.208791,
573,702.0,E,2,41.0,3.0,31,44.0,8.219780,,35.780220,

## Church

In [52]:
df_Church = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"].isin(["E"])]
df_Church = df_Church[df_Church["i_Ziffer"].isin([3])]

In [53]:
# Load data
Church_rb = pd.read_excel(f"{classification_path}\\Church.xlsx")

# Calculate the percentages

# For a1
Church_rb["a"] = Church_rb["a"].astype(float)
Church_rb["Summe"] = Church_rb["Summe"].astype(float)
Church_rb["a_per"] = Church_rb["a"] / Church_rb["Summe"]

# For b
Church_rb["b"] = Church_rb["b"].astype(float)
Church_rb["Summe"] = Church_rb["Summe"].astype(float)
Church_rb["b_per"] = Church_rb["b"] / Church_rb["Summe"]

# For c
Church_rb["c"] = Church_rb["c"].astype(float)
Church_rb["Summe"] = Church_rb["Summe"].astype(float)
Church_rb["c_per"] = Church_rb["c"] / Church_rb["Summe"]

# Convert 'rb_id' in both DataFrames to string to ensure they have the same format
df_Church["rb_id"] = df_Church["rb_id"].astype(str)
Church_rb["id"] = Church_rb["id"].astype(str)

# Remove the '.0' suffix from the 'rb_id' values in df_A_1
df_Church["rb_id"] = df_Church["rb_id"].str.replace(".0", "", regex=False)

# Perform the merge
df_Church = pd.merge(df_Church, Church_rb[["id", "a_per", "b_per", "c_per"]], left_on="rb_id", right_on="id", how="left")

# Convert 'a_per', 'b_per', 'c_per', and 'd_Hauptberuf' to float for calculations
df_Church["a_per"] = df_Church["a_per"].astype(float)
df_Church["b_per"] = df_Church["b_per"].astype(float)
df_Church["c_per"] = df_Church["c_per"].astype(float)
df_Church["d_Hauptberuf"] = df_Church["d_Hauptberuf"].astype(float)

# Create and fill the 'medium' and 'unskilled' columns
df_Church["high"] = ""
# a and b are medium skilled (HISCO: 14130, 14140)
df_Church["medium"] = df_Church["d_Hauptberuf"] * (df_Church["a_per"] + df_Church["b_per"])
# c is low skilled (HISCO: 55140)
df_Church["low"] = df_Church["d_Hauptberuf"] * df_Church["c_per"]
df_Church["unskilled"] = ""

# Reorder the columns
column_order = ["id_inequality", "i_Grossbuchstabe", "i_Ziffer", "d_Hauptberuf_m", "d_Hauptberuf_w", "rb_id", "d_Hauptberuf", "high", "medium", "low", "unskilled"]
df_Church = df_Church[column_order]
df_Church

,id_inequality,i_Grossbuchstabe,i_Ziffer,d_Hauptberuf_m,d_Hauptberuf_w,rb_id,d_Hauptberuf,high,medium,low,unskilled
0,1.0,E,3,30.0,0.0,17,30.0,,22.644722,7.355278,
1,2.0,E,3,45.0,4.0,17,49.0,,36.986379,12.013621,
2,4.0,E,3,154.0,53.0,17,207.0,,156.248581,50.751419,
3,5.0,E,3,31.0,1.0,17,32.0,,24.154370,7.845630,
4,6.0,E,3,26.0,3.0,17,29.0,,21.889898,7.110102,
...,...,...,...,...,...,...,...,...,...,...,...
569,698.0,E,3,60.0,24.0,1,84.0,,68.429268,15.570732,
570,699.0,E,3,130.0,50.0,31,180.0,,166.617100,13.382900,
571,700.0,E,3,23.0,1.0,31,24.0,,22.215613,1.784387,
572,701.0,E,3,27.0,4.0,31,31.0,,28.695167,2.304833,
573,702.0,E,3,34.0,0.0,31,34.0,,31.472119,2.527881,

## Education

In [54]:
df_Education = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"].isin(["E"])]
df_Education = df_Education[df_Education["i_Ziffer"].isin([4])]

In [55]:
# Load data
Education_rb = pd.read_excel(f"{classification_path}\\Teachers_by_Provinces.xlsx")

# Calculate the percentages

# For a1
Education_rb["a1"] = Education_rb["a1"].astype(float)
Education_rb["Summe"] = Education_rb["Summe"].astype(float)
Education_rb["a1_per"] = Education_rb["a1"] / Education_rb["Summe"]

# For a2
Education_rb["a2"] = Education_rb["a2"].astype(float)
Education_rb["Summe"] = Education_rb["Summe"].astype(float)
Education_rb["a2_per"] = Education_rb["a2"] / Education_rb["Summe"]

# For b
Education_rb["b"] = Education_rb["b"].astype(float)
Education_rb["Summe"] = Education_rb["Summe"].astype(float)
Education_rb["b_per"] = Education_rb["b"] / Education_rb["Summe"]

# For c
Education_rb["c"] = Education_rb["c"].astype(float)
Education_rb["Summe"] = Education_rb["Summe"].astype(float)
Education_rb["c_per"] = Education_rb["c"] / Education_rb["Summe"]

# Convert 'rb_id' in both DataFrames to string to ensure they have the same format
df_Education["rb_id"] = df_Education["rb_id"].astype(str)
Education_rb["id"] = Education_rb["id"].astype(str)

# Remove the '.0' suffix from the 'rb_id' values in df_A_1
df_Education["rb_id"] = df_Education["rb_id"].str.replace(".0", "", regex=False)

# Perform the merge
df_Education = pd.merge(df_Education, Education_rb[["id", "a1_per", "a2_per", "b_per", "c_per"]], left_on="rb_id", right_on="id", how="left")

# Convert 'a_per', 'b_per', 'c_per', and 'd_Hauptberuf' to float for calculations
df_Education["a1_per"] = df_Education["a1_per"].astype(float)
df_Education["a2_per"] = df_Education["a2_per"].astype(float)
df_Education["b_per"] = df_Education["b_per"].astype(float)
df_Education["c_per"] = df_Education["c_per"].astype(float)
df_Education["d_Hauptberuf"] = df_Education["d_Hauptberuf"].astype(float)

# Create and fill the 'medium' and 'unskilled' columns

# highly skilled teachers (HISCO: )
df_Education["high"] = df_Education["d_Hauptberuf"] * df_Education["a1_per"]
# medium skilled teachers (HISCO: 63220)
df_Education["medium"] = df_Education["d_Hauptberuf"] * df_Education["a2_per"]
# b and c are medium skilled
df_Education["low"] = df_Education["d_Hauptberuf"] * (df_Education["b_per"] + df_Education["c_per"])
df_Education["unskilled"] = ""

# Reorder the columns
column_order = ["id_inequality", "i_Grossbuchstabe", "i_Ziffer", "d_Hauptberuf_m", "d_Hauptberuf_w", "rb_id", "d_Hauptberuf", "high", "medium", "low", "unskilled"]
df_Education = df_Education[column_order]
df_Education

,id_inequality,i_Grossbuchstabe,i_Ziffer,d_Hauptberuf_m,d_Hauptberuf_w,rb_id,d_Hauptberuf,high,medium,low,unskilled
0,1.0,E,4,191.0,88.0,17,279.0,64.363021,200.193798,14.443182,
1,2.0,E,4,178.0,111.0,17,289.0,66.669939,207.369203,14.960859,
2,4.0,E,4,889.0,895.0,17,1784.0,411.554225,1280.092240,92.353535,
3,5.0,E,4,151.0,45.0,17,196.0,45.215599,140.637937,10.146465,
4,6.0,E,4,140.0,37.0,17,177.0,40.832454,127.004667,9.162879,
...,...,...,...,...,...,...,...,...,...,...,...
569,698.0,E,4,109.0,57.0,1,166.0,40.487909,108.868578,16.643512,
570,699.0,E,4,82.0,20.0,31,102.0,4.807262,93.741610,3.451128,
571,700.0,E,4,40.0,2.0,31,42.0,1.979461,38.599487,1.421053,
572,701.0,E,4,62.0,12.0,31,74.0,3.487621,68.008619,2.503759,
573,702.0,E,4,40.0,8.0,31,48.0,2.262241,44.113699,1.624060,

## Health

In [56]:
df_Health = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"].isin(["E"])]
df_Health = df_Health[df_Health["i_Ziffer"].isin([5])]

In [57]:
# Load data
Health_rb = pd.read_excel(f"{classification_path}\\Health.xlsx")
# Calculate the percentages

# For a1
Health_rb["a1"] = Health_rb["a1"].astype(float)
Health_rb["Summe"] = Health_rb["Summe"].astype(float)
Health_rb["a1_per"] = Health_rb["a1"] / Health_rb["Summe"]

# For a2
Health_rb["a2"] = Health_rb["a2"].astype(float)
Health_rb["Summe"] = Health_rb["Summe"].astype(float)
Health_rb["a2_per"] = Health_rb["a2"] / Health_rb["Summe"]

# For b
Health_rb["b"] = Health_rb["b"].astype(float)
Health_rb["Summe"] = Health_rb["Summe"].astype(float)
Health_rb["b_per"] = Health_rb["b"] / Health_rb["Summe"]

# For c
Health_rb["c"] = Health_rb["c"].astype(float)
Health_rb["Summe"] = Health_rb["Summe"].astype(float)
Health_rb["c_per"] = Health_rb["c"] / Health_rb["Summe"]

# For d
Health_rb["d"] = Health_rb["d"].astype(float)
Health_rb["Summe"] = Health_rb["Summe"].astype(float)
Health_rb["d_per"] = Health_rb["d"] / Health_rb["Summe"]

# Convert 'rb_id' in both DataFrames to string to ensure they have the same format
df_Health["rb_id"] = df_Health["rb_id"].astype(str)
Health_rb["id"] = Health_rb["id"].astype(str)

# Remove the '.0' suffix from the 'rb_id' values in df_A_1
df_Health["rb_id"] = df_Health["rb_id"].str.replace('.0', '', regex=False)

# Perform the merge 
df_Health = pd.merge(df_Health, Health_rb[["id", "a1_per", "a2_per", "b_per", "c_per", "d_per"]], left_on="rb_id", right_on="id", how="left")

# Convert 'a_per', 'b_per', 'c_per', and 'd_Hauptberuf' to float for calculations
df_Health["a1_per"] = df_Health["a1_per"].astype(float)
df_Health["a2_per"] = df_Health["a2_per"].astype(float)
df_Health["b_per"] = df_Health["b_per"].astype(float)
df_Health["c_per"] = df_Health["c_per"].astype(float)
df_Health["d_per"] = df_Health["d_per"].astype(float)
df_Health["d_Hauptberuf"] = df_Health["d_Hauptberuf"].astype(float)

# Create and fill the 'medium' and 'unskilled' columns

# highly skilled doctors in a1 (HISCO: 06100)
df_Health["high"] = df_Health["d_Hauptberuf"] * df_Health["a1_per"]
# a2 are medium skilled (HISCO: 07310)
df_Health["medium"] = df_Health["d_Hauptberuf"] * df_Health["a2_per"] 
# b, c and d are low (HISCO: 39310, 58240, 59990)
df_Health["low"] = df_Health["d_Hauptberuf"] * (df_Health["b_per"] + df_Health["c_per"] + df_Health["d_per"])
df_Health["unskilled"] = ''

# Reorder the columns
column_order = ["id_inequality", "i_Grossbuchstabe", "i_Ziffer", "d_Hauptberuf_m", "d_Hauptberuf_w", "rb_id", "d_Hauptberuf", "high", "medium", "low", "unskilled"]
df_Health = df_Health[column_order]
df_Health

,id_inequality,i_Grossbuchstabe,i_Ziffer,d_Hauptberuf_m,d_Hauptberuf_w,rb_id,d_Hauptberuf,high,medium,low,unskilled
0,1.0,E,5,38.0,62.0,17,100.0,15.777339,15.942029,68.280632,
1,2.0,E,5,39.0,53.0,17,92.0,14.515152,14.666667,62.818182,
2,4.0,E,5,497.0,898.0,17,1395.0,220.093874,222.391304,952.514822,
3,5.0,E,5,32.0,70.0,17,102.0,16.092885,16.260870,69.646245,
4,6.0,E,5,19.0,43.0,17,62.0,9.781950,9.884058,42.333992,
...,...,...,...,...,...,...,...,...,...,...,...
569,698.0,E,5,20.0,23.0,1,43.0,5.798982,6.127226,31.073791,
570,699.0,E,5,30.0,52.0,31,82.0,11.927273,33.296970,36.775758,
571,700.0,E,5,7.0,12.0,31,19.0,2.763636,7.715152,8.521212,
572,701.0,E,5,12.0,30.0,31,42.0,6.109091,17.054545,18.836364,
573,702.0,E,5,6.0,16.0,31,22.0,3.200000,8.933333,9.866667,

## Arts

In [58]:
df_Arts = occupation_detailed_df[occupation_detailed_df["i_Grossbuchstabe"].isin(["E"])]
df_Arts = df_Arts[df_Arts["i_Ziffer"].isin([8])]

In [59]:
# Load data
Arts_rb = pd.read_excel(f"{classification_path}\\Performing_Arts.xlsx")
# Calculate the percentages

# For a1
Arts_rb["a"] = Arts_rb["a"].astype(float)
Arts_rb["Summe"] = Arts_rb["Summe"].astype(float)
Arts_rb["a_per"] = Arts_rb["a"] / Arts_rb["Summe"]

# For b
Arts_rb["b"] = Arts_rb["b"].astype(float)
Arts_rb["Summe"] = Arts_rb["Summe"].astype(float)
Arts_rb["b_per"] = Arts_rb["b"] / Arts_rb["Summe"]

# For c
Arts_rb["c"] = Arts_rb["c"].astype(float)
Arts_rb["Summe"] = Arts_rb["Summe"].astype(float)
Arts_rb["c_per"] = Arts_rb["c"] / Arts_rb["Summe"]

# Convert 'rb_id' in both DataFrames to string to ensure they have the same format
df_Arts["rb_id"] = df_Arts["rb_id"].astype(str)
Arts_rb["id"] = Arts_rb["id"].astype(str)

# Remove the '.0' suffix 
df_Arts["rb_id"] = df_Arts["rb_id"].str.replace('.0', '', regex=False)

# Perform the merge
df_Arts = pd.merge(df_Arts, Arts_rb[["id", "a_per", "b_per", "c_per"]], left_on="rb_id", right_on="id", how="left")

# Convert 'a_per', 'b_per', 'c_per', and 'd_Hauptberuf' to float for calculations
df_Arts["a_per"] = df_Arts["a_per"].astype(float)
df_Arts["b_per"] = df_Arts["b_per"].astype(float)
df_Arts["c_per"] = df_Arts["c_per"].astype(float)
df_Arts["d_Hauptberuf"] = df_Arts["d_Hauptberuf"].astype(float)

# Create and fill the 'medium' and 'unskilled' columns
df_Arts["high"] = ""
# a and b are medium skilled (HISCO: 63220)
df_Arts["medium"] = df_Arts["d_Hauptberuf"] * df_Arts["a_per"]
df_Arts["low"] = df_Arts["d_Hauptberuf"] * (df_Arts["c_per"] + df_Arts["b_per"])
df_Arts["unskilled"] = ""

# Reorder the columns
column_order = ["id_inequality", "i_Grossbuchstabe", "i_Ziffer", "d_Hauptberuf_m", "d_Hauptberuf_w", "rb_id", "d_Hauptberuf", "high", "medium", "low", "unskilled"]
df_Arts = df_Arts[column_order]
df_Arts

,id_inequality,i_Grossbuchstabe,i_Ziffer,d_Hauptberuf_m,d_Hauptberuf_w,rb_id,d_Hauptberuf,high,medium,low,unskilled
0,1.0,E,8,18.0,15.0,17,33.0,,29.487097,3.512903,
1,2.0,E,8,75.0,7.0,17,82.0,,73.270968,8.729032,
2,4.0,E,8,539.0,300.0,17,839.0,,749.687097,89.312903,
3,5.0,E,8,5.0,3.0,17,8.0,,7.148387,0.851613,
4,6.0,E,8,10.0,4.0,17,14.0,,12.509677,1.490323,
...,...,...,...,...,...,...,...,...,...,...,...
568,698.0,E,8,9.0,4.0,1,13.0,,12.192090,0.807910,
569,699.0,E,8,4.0,4.0,31,8.0,,8.000000,0.000000,
570,700.0,E,8,1.0,0.0,31,1.0,,1.000000,0.000000,
571,701.0,E,8,1.0,1.0,31,2.0,,2.000000,0.000000,
572,702.0,E,8,0.0,0.0,31,0.0,,0.000000,0.000000,

## Merge them all

In [60]:
df_Son = pd.concat([df_Forestry, df_Rail, df_Post, df_Army, df_Education, df_Health, df_Arts, df_Church, df_Gov], ignore_index=True)
df_Son

,id_inequality,i_Grossbuchstabe,i_Ziffer,d_Hauptberuf_m,d_Hauptberuf_w,rb_id,d_Hauptberuf,high,medium,low,unskilled
0,1.0,A,4,69.0,100.0,17,169.0,,33.847785,135.152215,
1,2.0,A,4,155.0,44.0,17,199.0,,39.856268,159.143732,
2,4.0,A,4,68.0,0.0,17,68.0,,13.619227,54.380773,
3,5.0,A,4,85.0,11.0,17,96.0,,19.227144,76.772856,
4,6.0,A,4,376.0,68.0,17,444.0,,88.925542,355.074458,
...,...,...,...,...,...,...,...,...,...,...,...
5159,698.0,E,2,200.0,0.0,1,200.0,25.031863,,174.968137,
5160,699.0,E,2,251.0,6.0,31,257.0,48.010989,,208.989011,
5161,700.0,E,2,32.0,0.0,31,32.0,5.978022,,26.021978,
5162,701.0,E,2,122.0,0.0,31,122.0,22.791209,,99.208791,
5163,702.0,E,2,41.0,3.0,31,44.0,8.21978,,35.780220,

# Merge all data

In [61]:
def checker(df):
    # Convert columns to float, replacing empty strings with NaN
    for column in ["high", "medium", "low", "unskilled"]:
        df[column] = pd.to_numeric(df[column], errors="coerce")

    # Summing the columns
    a = df["high"].sum()
    b = df["medium"].sum()
    c = df["low"].sum()
    d = df["unskilled"].sum()
    summe = df["d_Hauptberuf"].sum()
    other = a + b + c + d
    diff = summe - other

    print(f"d_Hauptberuf: {summe}, Added skills: {other}, Diff:{diff}")

Marginal differences due to float64

In [62]:
checker(df_Ind)
checker(df_A_Rest)
checker(df_A_1)
checker(df_Son)
checker(df_Ser)

d_Hauptberuf: 6672980.0, Added skills: 6672980.0, Diff:0.0
d_Hauptberuf: 114436.0, Added skills: 114436.0, Diff:0.0
d_Hauptberuf: 5676116.0, Added skills: 5676116.0, Diff:0.0
d_Hauptberuf: 1496563.0, Added skills: 1496563.0, Diff:0.0
d_Hauptberuf: 1931276.0, Added skills: 1931275.9999999995, Diff:4.656612873077393e-10

C:\Users\soere\AppData\Local\Temp\ipykernel_2912\1289488969.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = pd.to_numeric(df[column], errors="coerce")

In [63]:
df_total = pd.concat([df_Son, df_Ser, df_Ind, df_A_Rest, df_A_1], ignore_index=True)

# Convert columns to numeric types
df_total["high"] = pd.to_numeric(df_total["high"], errors="coerce")
df_total["medium"] = pd.to_numeric(df_total["medium"], errors="coerce")
df_total["low"] = pd.to_numeric(df_total["low"], errors="coerce")
df_total["unskilled"] = pd.to_numeric(df_total["unskilled"], errors="coerce")
df_total["d_Hauptberuf"] = pd.to_numeric(df_total["d_Hauptberuf"], errors="coerce")

# Temporarily replace 0 with NaN in 'd_Hauptberuf' column of df_total
df_total["d_Hauptberuf"].replace(0, np.nan, inplace=True)

# Perform the division to create the new columns in df_total
df_total["per_high"] = df_total["high"] / df_total["d_Hauptberuf"]
df_total["per_medium"] = df_total["medium"] / df_total["d_Hauptberuf"]
df_total["per_low"] = df_total["low"] / df_total["d_Hauptberuf"]
df_total["per_unskilled"] = df_total["unskilled"] / df_total["d_Hauptberuf"]

# Revert NaN back to 0 in 'd_Hauptberuf' of df_total if needed
df_total["d_Hauptberuf"].replace(np.nan, 0, inplace=True)

# Replace NaN in new columns with 0 in df_total
df_total[["per_high", "per_medium", "per_low", "per_unskilled"]] = df_total[["per_high", "per_medium", "per_low", "per_unskilled"]].fillna(0)

df_total

,id_inequality,i_Grossbuchstabe,i_Ziffer,d_Hauptberuf_m,d_Hauptberuf_w,rb_id,d_Hauptberuf,high,medium,low,unskilled,intermediate,per_high,per_medium,per_low,per_unskilled
0,1.0,A,4,69.0,100.0,17,169.0,NaN,33.847785,135.152215,NaN,NaN,0.0,0.200283,0.799717,0.000000
1,2.0,A,4,155.0,44.0,17,199.0,NaN,39.856268,159.143732,NaN,NaN,0.0,0.200283,0.799717,0.000000
2,4.0,A,4,68.0,0.0,17,68.0,NaN,13.619227,54.380773,NaN,NaN,0.0,0.200283,0.799717,0.000000
3,5.0,A,4,85.0,11.0,17,96.0,NaN,19.227144,76.772856,NaN,NaN,0.0,0.200283,0.799717,0.000000
4,6.0,A,4,376.0,68.0,17,444.0,NaN,88.925542,355.074458,NaN,NaN,0.0,0.200283,0.799717,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76473,698.0,A,1,6929.0,4864.0,1,11793.0,NaN,1608.452868,2445.051798,7739.495334,NaN,0.0,0.136390,0.207331,0.656279
76474,699.0,A,1,3807.0,3802.0,31,7609.0,NaN,1013.316352,1573.447001,5022.236647,NaN,0.0,0.133173,0.206788,0.660039
76475,700.0,A,1,2647.0,300.0,31,2947.0,NaN,392.461991,609.403116,1945.134893,NaN,0.0,0.133173,0.206788,0.660039
76476,701.0,A,1,3313.0,3884.0,31,7197.0,NaN,958.448913,1488.250502,4750.300585,NaN,0.0,0.133173,0.206788,0.660039
76477,702.0,A,1,2186.0,2922.0,31,5108.0,NaN,680.249694,1056.271163,3371.479142,NaN,0.0,0.133173,0.206788,0.660039

In [64]:
df_total.to_csv(f"{saving_path}\Total_Dep_WFH.csv", index=False, sep=",")

In [65]:
for col in ["d_Hauptberuf", "high", "medium", "low", "unskilled"]:
    df_total[col] = pd.to_numeric(df_total[col], errors="coerce")

grouped_df = df_total.groupby("id_inequality")[["d_Hauptberuf", "high", "medium", "low", "unskilled"]].sum().reset_index()

In [66]:
filtered_df = df_total[df_total["i_Grossbuchstabe"] == "B"]
grouped_filtered_df = filtered_df.groupby("id_inequality")["d_Hauptberuf"].sum().reset_index()
grouped_filtered_df.rename(columns={"d_Hauptberuf": "Industriearbeiter"}, inplace=True)

In [67]:
final_df = pd.merge(grouped_df, grouped_filtered_df, on="id_inequality", how="left")

In [68]:
final_df["Anteil_Industriearbeiter"] = final_df["Industriearbeiter"] / final_df["d_Hauptberuf"]
final_df["per_high"] = final_df["high"] / final_df["d_Hauptberuf"]
final_df["per_medium"] = final_df["medium"] / final_df["d_Hauptberuf"]
final_df["per_low"] = final_df["low"] / final_df["d_Hauptberuf"]
final_df["per_unskilled"] = final_df["unskilled"] / final_df["d_Hauptberuf"]
final_df

,id_inequality,d_Hauptberuf,high,medium,low,unskilled,Industriearbeiter,Anteil_Industriearbeiter,per_high,per_medium,per_low,per_unskilled
0,1.0,25514.0,194.662401,5546.620493,5670.087390,14102.629716,5482.0,0.214862,0.007630,0.217395,0.222234,0.552741
1,2.0,20208.0,188.098034,4536.081756,4866.681948,10617.138262,4673.0,0.231245,0.009308,0.224470,0.240829,0.525393
2,4.0,93696.0,1811.695464,33536.715917,35647.586912,22700.001706,40793.0,0.435376,0.019336,0.357931,0.380460,0.242273
3,5.0,17766.0,98.285921,3589.128434,2439.618255,11638.967389,3063.0,0.172408,0.005532,0.202022,0.137320,0.655126
4,6.0,20770.0,82.904052,4097.847742,2659.602919,13929.645288,2839.0,0.136688,0.003992,0.197296,0.128050,0.670662
...,...,...,...,...,...,...,...,...,...,...,...,...
570,698.0,21013.0,238.076599,3406.878273,7907.284260,9460.760868,3334.0,0.158664,0.011330,0.162132,0.376304,0.450234
571,699.0,11822.0,90.067781,2960.288821,2795.868300,5975.775099,2566.0,0.217053,0.007619,0.250405,0.236497,0.505479
572,700.0,4463.0,17.633379,1014.771504,1121.809440,2308.785677,1144.0,0.256330,0.003951,0.227374,0.251358,0.517317
573,701.0,12392.0,55.627899,3284.289013,2992.403478,6059.679611,3900.0,0.314719,0.004489,0.265033,0.241479,0.488999
574,702.0,6614.0,23.215425,1353.446288,1491.055660,3746.282627,994.0,0.150287,0.003510,0.204634,0.225439,0.566417

In [69]:
# save final_df on local machine
final_df.to_csv(f"{saving_path}/Main_Dep_WFH.csv", index=False, sep=",")